.edit-mode-on .edit-wrapper
	position: relative
.edit-mode-on .edit-area
	position: absolute
	top: 0
	width: 100%
	height: 100%

.edit-mode-on .edit-area > div[id^="bx_incl_area_"]
	height: 100%

// Стилизуем ajax загрузчик
div[id^="wait_comp_"]
	background-color: unset !important
	background-position: 0 !important
	border: 0 !important
	font-size: 0 !important
	width: 20px
	height: 20px
	padding: 0 !important
