@use '../base/mixins' as *
@use '../base/breakpoints' as *

.blog__item
    padding: 26px
    background-color: var(--clr-white)
    min-height: 405px
    display: flex
    flex-direction: column
    height: 100%
    &-image
        margin-bottom: 20px
        height: 192px
        img
            +contain
    &-title
        +fz(20)
        font-weight: 500
        line-height: 120%
        margin-bottom: 10px
        +textLimit(3)
        // min-height: 72px
    &-desc
        +fz(16)
        line-height: 130%
        color: var(--clr-grey)
        margin-bottom: 20px
        +textLimit(4)
        +mq($md)
            margin-bottom: 40px
    &-date
        +fz(16)
        line-height: 120%
        color: var(--clr-grey-light)
        margin-top: auto
