@use '../base/mixins' as *
@use '../base/breakpoints' as *
    
.breadcrumbs
    padding: 30px 0
    position: relative
    +mq($md)
        padding: 30px 0 20px
    +mq($xl) 
        padding: 40px 0 30px
    &-wrapper 
        display: flex
        align-items: center
        flex-wrap: wrap
        margin-bottom: 20px
    &-separator
        display: block
        margin: 0 10px
        width: 30px
        height: 10px
        +bg('Images/icon_breadcrumb_arrow.svg', center, contain)
    &-item
        +fz(16)
        font-weight: 300
        line-height: 130%
        span
            +textLimit(3)