.breadcrumbs
	margin-top: 150px
	// margin-top: 7.5vw
	border-bottom: 1px solid var(--grey-color)
	padding-bottom: 30px
	margin-bottom: 30px
	&__list
		+inline-flex
		flex-wrap: wrap
		justify-content: flex-start
		margin-bottom: 10px
	&__item
		+inline-flex
	&__separator
		display: block
		padding: 0 5px