@use '../base/mixins' as *
@use '../base/breakpoints' as *
    
.breadcrumbs
    padding: 14px 0 8px
    +mq($md)
        padding: 20px 0 10px
    +mq($hd)
        padding: 30px 0 20px
    &-wrapper
        display: flex
        align-items: center
        flex-wrap: wrap
    &-separator
        display: block
        margin: 0 10px
    &-item
        +fz(12)
        line-height: 130%
        a
            color: var(--text-color)
        span
            color: var(--grey-color)