@use '../base/mixins' as *
@use '../base/breakpoints' as *

@property --startColor
  syntax: '<color>'
  initial-value: #F1A232
  inherits: false

@property --endColor
  syntax: '<color>'
  initial-value: #FFCF41
  inherits: false

.btn
    +fz(12)
    font-weight: 600
    line-height: 124%
    text-align: center
    
    display: flex
    align-items: center
    justify-content: center
    padding: 16px
    border-radius: 30px
    transition: .3s
    cursor: pointer

    border: unset
    width: 100%
    &[type="submit"]
        border: unset

    +mq($md)
        // padding: 11px 24px
        padding: 11px 20px
    +mq($xl)
        // padding: 15px 24px
        padding: 15px 20px
    &--white
        background-color: var(--white-color)
        color: var(--text-color)
        border: 1px solid var(--black-color)
        &:hover
            background-color: var(--yellow-color)
            color: var(--white-color)
            border: 1px solid var(--yellow-color)
    &--green
        background-color: var(--green-color)
        color: var(--white-color)
        &:hover
            background-color: var(--black-color)
        &:active
            background-color: var(--yellow-color)
    &--green-opacity
        background-color: var(--green-opacity-4-color)
        color: var(--white-color)
    &--green-transparent
        background-color: transparent
        color: var(--green-color)
        border: 1px solid var(--green-color)
        &:hover
            background-color: var(--black-color)
            color: var(--white-color)
        &:active
            background-color: var(--yellow-color)
            color: var(--white-color)
    &--yellow
        background-color: var(--dark-yellow-color)
        color: var(--white-color)
        &:hover
            background-color: var(--black-color)
    &--yellow-gradient
        --startColor: #F1A232
        --endColor: #FFCF41
        // background: var(--yellow-gradient-color)
        background: linear-gradient(90deg, var(--startColor) 0%, var(--endColor) 100%)
        color: var(--white-color)
        transition: --startColor .3s, --endColor .3s
        &:hover
            --startColor: var(--black-color)
            --endColor: var(--black-color)
            // background: var(--black-color)
    &--yellow-transparent
        background-color: transparent
        color: var(--white-color)
        border: 1px solid var(--yellow-color)
        &:hover
            background-color: var(--black-color)
    &--grey
        background-color: var(--light-grey-color)
        color: var(--black-color)
        &:hover
            background-color: var(--black-color)
            color: var(--white-color)
    &--clip-icon
        height: 48px
        &::before
            content: ''
            display: block
            +box(27px)
            margin-right: 12px
            +bg('Images/icon_clip.svg', center, contain)
            transition: .3s
        &:hover
            &::before
                filter: brightness(0) invert(1)