@use '../base/mixins' as *
@use '../base/breakpoints' as *

\:root
	--arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/></svg>')

.btn
	--_clr-background: var(--clr-bg, var(--clr-white))
	--_clr-font: var(--clr-font, var(--clr-black))
	--_clr-border: var(--clr-border, transparent)
	--_border-radius: var(--btn-border-radius, 0)
	--_max-width: var(--btn-max-width, fit-content)
	--_height: var(--btn-height, 50px)
	+fz(16)
	font-weight: 400
	color: var(--_clr-font)

	height: var(--_height)
	padding: 15px 35px
	max-width: var(--_max-width)
	width: 100%
	// Свойство используется для кнопок с иконками и текстом более 2 слов
	// При уменьшении разрешения текст сначала будет сваливаться на следующую строку от иконки
	// Затем, если места не хватает - еще спрыгивать вниз
	min-inline-size: fit-content 

	background-color: var(--_clr-background)
	border-width: 0
	border-style: solid
	border-color: var(--_clr-border)
	border-radius: var(--_border-radius)

	display: flex
	align-items: center
	justify-content: center
	
	cursor: pointer
	transition: var(--transition)

	user-select: none // отключаем выделение текста
	touch-action: manipulation // элемент можно сдвигать и зумить. Это сокращение для комбинации pan-x pan-y pinch-zoom. Остальные нестандартные жесты, вроде двойного тапа, запрещены.

	&[type="submit"]
		border: unset
	&[type="file"]
		&::file-selector-button
			display: block // Line break between the button and text
			width: 100%
			background: orangered
			border: unset
		// Changing the text of input type='file'
		// https://open-code.tech/en/post-3514/
	&.--arrow
		&::after
			background: currentColor
			mask: var(--arrow) center center / 100% auto no-repeat

	&[disabled]
		--clr-bg: var(--clr-disabled)
	
	&.--primary
		--clr-bg: var(--clr-primary)
		--clr-font: var(--clr-white)
		&:hover
			--clr-bg: var(--clr-primary-hover)
		&:active
			--clr-bg: var(--clr-primary-active)
		
	&.--secondary
		--clr-bg: var(--clr-secondary)
		--clr-font: var(--clr-white)
		&:hover
			--clr-bg: var(--clr-secondary-hover)
		&:active
			--clr-bg: var(--clr-secondary-active)

	&.--transparent
		border-width: 1px
		--clr-bg: transparent
		--clr-border: var(--clr-primary)
		--clr-font: var(--clr-grey)
		&:hover
			--clr-border: var(--clr-primary-hover)
		&:active
			--clr-border: var(--clr-primary-active)

	&.--center
		margin-inline: auto
			
	&.--clip-icon
		--clr-border: var(--clr-grey-05)
		--clr-font: var(--clr-grey-05)
		padding: 10px 8px 10px 12px
		white-space: nowrap
		justify-content: start
		+mq($md)
			--btn-max-width: 100%
		&:hover
			--clr-border: var(--clr-grey-05)
		&::before
			content: ''
			+box(20px)
			margin-right: 10px
			+bg('Images/example/icon_clip.svg', center, contain)
			transition: var(--transition)

button
	background-color: transparent
	border: none