.btn
	+inline-flex

	+fz(13)
	font-weight: 500
	line-height: 125%
	color: var(--black-color)

	padding: 11px 20px
	background: transparent
	border: 1px solid var(--stroke-color)
	border-radius: 4px

	cursor: pointer
	transition: color .3s, background .3s
	&[disabled],
	&.disabled
		background-color: var(--disabled-color)
		color: var(--grey-color)
		border: unset
		pointer-events: none
		&:hover,
		&:focus
			color: inherit
	&--transparent
		&:hover
			color: var(--light-blue-color)
		&:focus
			box-shadow: 0 0 3px var(--focus-transparent-color)
	&--blue
		background-color: var(--blue-color)
		border-color: var(--blue-color)
		color: var(--white-color)
		&:hover
			color: var(--white-color)
			background-color: var(--hover-blue-color)
		&:focus
			box-shadow: 0 0 3px var(--focus-blue-color)
	&--green
		background-color: var(--green-color)
		border-color: var(--green-color)
		color: var(--white-color)
		&:hover
			color: var(--white-color)
			background-color: var(--hover-green-color)
		&:focus
			box-shadow: 0 0 3px var(--focus-green-color)
	&--center
		margin-left: 50%
		transform: translateX(-50%)
