@use '../base/mixins' as *
@use '../base/breakpoints' as *

.menu-toggle
	--size: 27px
	background-color: var(--white-color)
	border: none
	cursor: pointer
	padding: 0
	width: var(--size)
	height: var(--size)
	transition: .3s
.k_burger,
.k_burger::before,
.k_burger::after
	// --height: 1.5px
	--height: 2px
	--width: 20px
	content: ""
	display: block
	background: var(--black-color)
	height: var(--height)
	width: var(--width)
	margin-inline: auto
	transition: all ease-in-out 500ms

.k_burger::before
	transform: translateY(-7px)
.k_burger::after
	transform: translateY(5px)
[aria-expanded="true"] .k_burger
	transform: rotate(45deg)
	--width: 16px
[aria-expanded="true"] .k_burger::before
	opacity: 0
[aria-expanded="true"] .k_burger::after
	transform: translateY(calc(var(--height) * -1)) rotate(-90deg)
	--width: 16px