@use '../base/mixins' as *
@use '../base/breakpoints' as *

.menu-toggle
	--size: 34px
	background-color: transparent
	border: none
	cursor: pointer
	padding: 0
	width: var(--size)
	height: var(--size)
	transition: var(--transition)
	+mq($md)
		--size: 40px
	&[aria-expanded="true"]
		border-radius: 50%
		background-color: var(--clr-white-font)
.k_burger,
.k_burger::before,
.k_burger::after
	--height: 2.5px
	--width: 27px
	content: ""
	display: block
	background: var(--clr-dark-grey)
	height: var(--height)
	width: var(--width)
	border-radius: 10px
	margin-inline: auto
	transition: all ease-in-out 500ms
	+mq($md)
		--width: 30px

.k_burger::before
	transform: translateY(-9px)
.k_burger::after
	transform: translateY(7px)
[aria-expanded="true"] .k_burger
	transform: rotate(45deg)
	--width: 18px
[aria-expanded="true"] .k_burger::before
	opacity: 0
[aria-expanded="true"] .k_burger::after
	transform: translateY(calc(var(--height) * -1)) rotate(-90deg)
	--width: 18px