@use '../base/mixins' as *
@use '../base/breakpoints' as *

@use "sass:selector"

.filter
	--popup-padding-inline: 20px
	&__form
		+mqMax($xl)
			position: fixed
			top: 0
			height: 100%
			z-index: 1000
			left: -100%
			
			transition: var(--transition-slow)
			background-color: var(--clr-white)
			max-width: 260px
			padding: 10px var(--popup-padding-inline)
			+mq($md)
				max-width: 320px
			+mq($xl)
				max-width: unset
			.filter-active &
				left: 0
	&__group
		& + &
			margin-top: 45px
		&-title
			font-weight: 600
			color: var(--clr-secondary)
			margin-bottom: 20px
		&-search
			position: relative
			margin-bottom: 12px
			input
				height: 35px
				width: 100%
				border-radius: 5px
				border: 1px solid var(--clr-grey-dark)
				padding: 10px
				transition: var(--transition)
				&:hover,
				&:focus,
				&:not(:placeholder-shown)
					border-color: var(--clr-primary-hover)
			button
				--icon-size: 14px
				position: absolute
				z-index: 10
				right: 0
				top: 50%
				transform: translateY(-50%)

				cursor: pointer
				height: 100%
				aspect-ratio: 1
				padding: 0
				display: flex
				align-items: center
				justify-content: center
				svg
					width: var(--icon-size)
					height: var(--icon-size)
					fill: var(--clr-grey-dark)
	&__options
		&-grid
			--filter-item-margin-top: 0px
			display: grid
			grid-template-columns: var(--filter-grid-template-column, 1fr 1fr)
			gap: 10px
		&-list
			--filter-item-margin-top: 12px
		&-item
			display: flex
			align-items: center
			gap: 15px

			color: var(--clr-grey-dark)
			& + &
				margin-top: var(--filter-item-margin-top, 12px)
			&.hide
				display: none
			
			input[type="checkbox"]
				display: none
				width: 15px
				height: 15px
				border-radius: 2px
				flex: 0 0 15px
				cursor: pointer
			input[type="number"]
				width: 100%
				height: 40px
				border-radius: 5px
				border: 1px solid var(--clr-grey-dark)

				padding: 10px
				+fz(14)

				transition: var(--transition)
				&::placeholder
					color: #9E9FA3
				&:hover,
				&:focus,
				&:not(:placeholder-shown)
					border-color: var(--clr-primary)

			label
				cursor: pointer
	&__footer
		// display: flex
		// align-items: center
		margin-top: 30px
		+mq($md)
			display: grid
			grid-template-columns: repeat(2, 1fr)
			gap: 10px
		input
			--btn-height: 40px
			--btn-max-width: 135px
			padding: 0 20px
			
			+mq($md)
				--btn-max-width: 100%
		input + input
			+mqMax($md)
				margin-top: 10px

.custom-range
	--input-size: 10px
	--track-height: 1px

	--range-track-top: 50%
	--range-progress-w: calc((var(--value-2) - var(--value-1)) * 1%)
	--range-progress-left: min(calc(var(--value-1) * 1%), calc(var(--value-2) * 1%))

	display: grid
	width: 100%
	position: relative
	margin-top: 15px
	&__track
		position: absolute
		transform: translateY(-50%)
		top: var(--range-track-top)
		width: 100%
		height: var(--track-height)
		border-radius: 10px
		background-color: var(--clr-grey-dark)
		z-index: -1
	&__progress
		position: absolute
		transform: translateY(-50%)
		top: var(--range-track-top)
		left: var(--range-progress-left)
		width: var(--range-progress-w)
		height: calc( var(--track-height) + 1px)
		border-radius: 10px
		background-color: var(--clr-primary)
		z-index: -1
	&__thumbs
		display: grid
	&__input
		width: 100%
		height: var(--track-height)
		grid-area: 1/1
		appearance: none
		background: none
		pointer-events: none

		// Добавляем стили трэка
		&::-webkit-slider-runnable-track
			background-color: transparent
			
		&::-moz-range-track
			background-color: transparent
			

		// Добавляем стили ручке
		&::-webkit-slider-thumb
			-webkit-appearance: none
			width: var(--input-size)
			height: var(--input-size)
			border: none
			border-radius: 50%
			background: var(--clr-primary)
			box-shadow: 0 0 0 calc(var(--input-size) / 2) inset var(--clr-primary)
			transition: var(--transition)
			pointer-events: auto
			cursor: pointer
		&::-moz-range-thumb
			width: var(--input-size)
			height: var(--input-size)
			border: none
			border-radius: 50%
			background: var(--clr-primary)
			box-shadow: 0 0 0 calc(var(--input-size) / 2) inset var(--clr-primary)
			transition: var(--transition)
			pointer-events: auto
			cursor: pointer
		// Неактивное состояние
		&:disabled::-webkit-slider-thumb
			box-shadow: 0 0 0 var(--input-size) inset var(--clr-grey-dark)
		&:disabled::-moz-range-thumb
			box-shadow: 0 0 0 var(--input-size) inset var(--clr-grey-dark)

	&__output
		--range-output-left: calc(var(--value) * 1%)
		--range-output-offset-xy: calc(var(--value) * -0.90%), 0
		// --range-output-margin: calc(6 / (var(--value) + 1) * 1px)

		position: absolute
		top: var(--input-size)
		left: var(--range-output-left)
		// margin-left: var(--range-output-margin)
		display: grid
		min-width: fit-content
		place-items: center
		background: transparent
		border-radius: 10px
		+fz(14)
		text-align: end
		transform: translate(var(--range-output-offset-xy))
		user-select: none
