footer
    //+bg('../images/bg_bottom.png', center top)
    font-family: 'Jura'

.footer
    color: var(--white-color)
    padding: 35px 0
    &__row
        &--center
            text-align: center
        +mq($lg)
            +flex()
            justify-content: space-between
            &--center
                justify-content: center
        & + &
            margin-top: 60px
    &__col
        +mqMax($lg)
            text-align: center
            & + &
                margin-top: 60px
        > * + *
            margin-top: 20px
        a
            display: block