@use '../base/mixins' as *
@use '../base/breakpoints' as *

.form
	form
		+mq($md)
			display: grid
			grid-template-columns: repeat(2, 1fr)
			gap: 20px
			.form__input--textarea
				grid-row: 3/4
		
	&[data-view="column-xl"] form
		+mq($xl)
			display: block
	&__input
		+mqMax($md)
			& ~ &
				margin-top: 20px
		[data-view="column-xl"] & ~ &
				margin-top: 20px
				+mq($md)
					margin-top: 0
				+mq($xl)
					margin-top: 20px
		input,
		textarea
			width: 100%
			+fz(16)
			line-height: 130%
			color: var(--clr-grey-05)
			border: 1px solid var(--clr-grey-05)
			background-color: transparent
			transition: border var(--transition)
			&::placeholder
				+fz(16)
				line-height: 130%
				color: var(--clr-grey-05)
			&:active,
			&:focus,
			&:not(&:placeholder-shown):not(.wpcf7-not-valid)
				color: var(--clr-white-2)
				border: 1px solid var(--clr-white-2)
		input
			height: 50px
			padding: 8px 8px 10px 13px            
			&[type="file"]
				display: none
		textarea
			height: 125px
			padding: 13px 13px 8px
			resize: vertical
			&::-webkit-resizer,
			&::-webkit-scrollbar-corner
				+arr(24,24, var(--clr-grey-05), br)
		&--file
			label
				display: block
				width: 100%
				+mq($md)
					width: 100%
			.btn
				--btn-max-width: 100%
	&__footer
		display: flex
		flex-direction: column
	&__accept
		cursor: pointer
		+mqMax($md)
			margin: 20px 0 40px
		+mq($md)
			margin-bottom: 10px
		+mq($xl)
			[data-view="column-xl"] &
				margin: 20px 0 40px
		&-text
			+fz(14)
			font-weight: 300
			line-height: 130%
			color: var(--clr-white-2)
			a
				display: initial
				text-decoration: underline
	&__btn
		--btn-max-width: 100%
		padding: 16px 32px
		text-align: center
		+mq($md)
			margin-top: auto
			margin-bottom: 4px