.form
	max-width: min(795px, 100%)
	position: relative
	background: transparent
	padding: 50px 20px
	+mq($lg)
		padding: 100px 60px
	&--edge
		--edge-size: 50px
		//--edge-size: 75px
		//--border-width: 5px
		--border-width: 3px
		--correct-size: 3px
		--border-radius: 5px

		clip-path: polygon(0% 0%, calc(100% - var(--edge-size)) 0, 100% var(--edge-size), 100% 100%, var(--edge-size) 100%, 0% calc(100% - var(--edge-size)))
		+mq($md)
			--edge-size: 150px
		&::before
			content: ""
			position: absolute
			inset: 0
			clip-path: polygon(0% 0%, calc(100% - var(--edge-size)) 0, 100% var(--edge-size), 100% 100%, var(--edge-size) 100%, 0% calc(100% - var(--edge-size)))
			//background-color: #1b1043
			background-color: var(--purple-color)
			z-index: -2
			border-radius: var(--border-radius)
		&::after
			content: ""
			position: absolute
			inset: 0
			//clip-path: polygon(var(--border-width) var(--border-width), calc(100% - var(--edge-size) - var(--border-width) + 2px) var(--border-width), calc(100% - var(--border-width) - 5px) calc(var(--edge-size) + var(--border-width)), calc(100% - var(--border-width)) calc(100% - var(--border-width)), calc(var(--edge-size) + 3px) calc(100% - var(--border-width)), var(--border-width) calc(100% - var(--edge-size) - var(--border-width) + 2px))
			//clip-path: polygon(var(--border-width) var(--border-width), calc(100% - var(--edge-size) - var(--border-width) + 2px) var(--border-width), calc(100% - var(--border-width)) calc(var(--edge-size) + var(--border-width) - 2px), calc(100% - var(--border-width)) calc(100% - var(--border-width)), calc(var(--edge-size) + 3px) calc(100% - var(--border-width)), var(--border-width) calc(100% - var(--edge-size) - var(--border-width) + 2px))
			clip-path: polygon(var(--border-width) var(--border-width), calc(100% - var(--edge-size) - var(--correct-size)) var(--border-width), calc(100% - var(--border-width)) calc(var(--edge-size) + var(--correct-size)), calc(100% - var(--border-width)) calc(100% - var(--border-width)), calc(var(--edge-size) + var(--correct-size)) calc(100% - var(--border-width)), var(--border-width) calc(100% - var(--edge-size) - var(--correct-size)))
			//clip-path: polygon(0 0, calc(100% - var(--edge-size) - var(--correct-size)) var(--border-width), calc(100% - var(--border-width)) calc(var(--edge-size) + var(--correct-size)), calc(100% - var(--border-width)) calc(100% - var(--border-width)), calc(var(--edge-size) + var(--correct-size)) calc(100% - var(--border-width)), var(--border-width) calc(100% - var(--edge-size) - var(--correct-size)))
			//background-color: rgba(9, 10, 15, 1)
			//background-color: var(--black-color)
			//background: linear-gradient(112.55deg, #1A2348 8.42%, rgba(26, 35, 72, 0) 91.67%)
			background: linear-gradient(237deg, #1A2348 8.42%, rgba(5, 6, 9, 1) 91.67%)
			z-index: -1
			border-radius: var(--border-radius)
	&__title
		font-family: 'Jura'
		+fz(26)
		font-weight: 500
		line-height: 120%
		color: var(--white-color)
		text-align: center
		margin-bottom: 30px
		+mq($xs)
			+fz(26)
			margin-bottom: 24px
		+mq($md)
			margin-bottom: 20px
		+mq($xl)
			margin-bottom: 34px
		span
			//color: rgba(72, 76, 237, 1)
			color: var(--aquamarine-color)
	&__input
		width: 100%
		input,
		textarea
			width: 100%
			border: unset
			border-bottom: 2px solid var(--aquamarine-color)
			background: transparent

			font-family: inherit
			color: var(--grey-color)
			+fz(14)
			line-height: 120%
			padding: 10px 20px
			+mq($md)
				+fz(16)
			&:not(:placeholder-shown)
				border-bottom: 2px solid var(--accent-aquamarine-color)
			&:placeholder-shown
				& + .wpcf7-not-valid-tip
					opacity: 1
					visibility: visible
					height: auto
					margin-top: 8px
			&::placeholder
				font-family: inherit
				+fz(14)
				line-height: 120%
				color: var(--grey-color)
				transition: all .3s
				+mq($md)
					+fz(16)
			&:active,
			&:focus
				border-bottom: 2px solid var(--accent-aquamarine-color)
				&::placeholder
					color: var(--white-color)
		input
			min-height: 52px
		textarea
			min-height: 75px
			&::placeholder
				position: absolute
				top: 45px
		& + &
			margin-top: 12px

		+mq($md)
			max-width: 480px
			margin: 0 auto
			& + &
				margin-top: 16px
		+mq($xl)
			max-width: unset
	&__accept
		+fz(12)
		line-height: 100%
		color: var(--grey-color)
		margin-top: 16px
		margin-bottom: 20px
		+mq($xs)
			margin-top: 20px
			margin-bottom: 40px
		label,
		.wpcf7-list-item-label
			+flex
			justify-content: flex-start
			align-items: flex-start
			cursor: pointer
			+mq($xs)
				align-items: center
		&-text
			display: block
			a
				display: inline-block
				color: var(--dark-color)
				text-decoration: underline
				transition: color .3s
				&:hover,
				&focus
					color: var(--accent-color)
		&-checkbox
			flex: 0 0 20px
			display: inline-flex
			align-items: center
			justify-content: center
			width: 20px
			height: 20px
			border: 1px solid var(--grey-color)
			margin-right: 8px
			margin-top: 3px
			transition: all .3s
			+mq($xs)
				margin-right: 10px
			+mq($md)
				margin-right: 20px
			+mq($lg)
				margin-right: 30px
			&::after
				content: ''
				display: block
				background-color: var(--grey-color)
				width: 0
				height: 0
				transition: .3s
				//width: calc(100% - 4px)
				//height: calc(100% - 4px)
				//width: 5px
				//height: 8px
				//border-top: 1.4px solid var(--white-color)
				//border-left: 1.4px solid var(--white-color)
				//transform: rotate(-135deg)
				position: relative
				//top: -1px
			// left: 1px
			+mq($xs)
				margin-top: 0
		//input:checked + .wpcf7-list-item-label .feedback__accept-checkbox
		//	background-color: var(--accent-color)
		//	border: 1px solid var(--accent-color)
		input:checked + .wpcf7-list-item-label .form__accept-checkbox,
		input:checked + .form__accept-checkbox
			&::after
				//display: block
				width: calc(100% - 4px)
				height: calc(100% - 4px)

	&__btn
		//padding: 0
		position: relative
		min-height: 50px
		margin-left: 50%
		transform: translateX(-50%)
		transition: unset
		input
			width: 100%
			height: 100%
			background: transparent
			border: unset
			color: inherit
			font: inherit
			position: absolute
			inset: 0
			cursor: pointer

// CF7 styles
input[name^="user_acceptance"]
	display: none
.wpcf7-list-item
	margin: 0
.wpcf7-response-output,
.wpcf7-spinner
	display: none
.wpcf7-not-valid
	&:placeholder-shown
		border-bottom: 2px solid darkred !important
//&:not(:focus)::placeholder
//	color: #d98506 !important
.wpcf7-not-valid-tip
	opacity: 0
	visibility: hidden
	height: 0
	margin-top: 0
	transition: all .6s

	display: block
	+fz(14)
	line-height: 17px
	color: var(--red-color)
	padding-left: 20px