@use '../base/mixins' as *
@use '../base/breakpoints' as *

header
	position: sticky
	background-color: var(--clr-white-05)
	top: 0
	left: 0
	width: 100%
	z-index: 100
	transition: calc(var(--transition) + 0.5s)
	&.mod-fixed
		top: -110px
		+mq($md)
			top: -100px
		+mq($xl)
			top: -112px
	&.mod-backscroll
		top: 0
.header
	padding: 13px 0
	display: grid
	grid-template-areas: 'logo search burger' 'contacts contacts contacts'
	grid-template-columns: 1fr 40px 40px
	gap: 0 20px
	position: relative
	overflow-x: hidden
	+mq($md)
		gap: 0 35px
		grid-template-areas: 'subtitle subtitle subtitle subtitle' 'logo contacts search burger'
		grid-template-columns: 135px 1fr 40px 40px
	+mq($xl)
		padding: 20px 0
		grid-template-areas: 'subtitle subtitle subtitle subtitle' 'logo menu search contacts'
		gap: 0 20px
		grid-template-columns: 2fr 7fr 1fr 2fr
		// grid-template-columns: 1fr 8fr .5fr 2fr
	&__subtitle
		grid-area: subtitle
		display: none
		+fz(12)
		font-weight: 500
		color: var(--clr-orange)
		text-align: center
		margin-bottom: 10px
		+mq($md)
			display: block
	&__logo
		grid-area: logo
		display: flex
		align-items: flex-end
		+mq($xl)
			align-items: center
		img
			+mqMax($md)
				max-width: 120px
			+mq($xl)
				// max-width: 205px
				max-width: 165px
	&__burger
		grid-area: burger
		justify-self: end
		+mq($xl)
			display: none
	&__menu
		--menu-height: 100vh
		--menu-width: 220px
		grid-area: menu
		background-color: var(--clr-blue)
		height: var(--menu-height)
		position: fixed
		z-index: 100
		right: calc(var(--menu-width) * -1)
		top: 0
		width: var(--menu-width)
		padding: 75px 33px
		transition: var(--transition)
		+mq($md)
			--menu-width: 300px
		+mq($xl)
			position: initial
			--menu-height: 47px
			--menu-width: 100%
			padding: 0
		&.active
			right: 0
		&-trigger
			position: absolute
			top: 20px
			right: 20px
			width: 40px
			height: 40px
			display: flex
			align-items: center
			justify-content: center
			border: 1px solid var(--clr-grey-05)
			cursor: pointer
			transition: var(--transition)
			svg
				stroke: var(--clr-white)
			+mq($md)
				width: 47px
				height: 47px
			+mq($xl)
				display: none
			&:hover
				border: 1px solid var(--clr-white)
		&-list
			+mq($xl)
				display: flex
				align-items: center
				justify-content: space-between
				height: 100%
				gap: 16px
				// max-width: calc(100% / 7 * 6)
				padding: 0 calc(100% / 7 / 2)
				margin-inline: auto
		&-item
			> a
				+fz(12)
				font-weight: 500
				color: var(--clr-white)
				cursor: pointer
				transition: var(--transition)
			&:hover
				color: var(--clr-pink)
			+mqMax($xl)
				& + &
					margin-top: 20px
	&__search
		grid-area: search
		--search-height: 40px
		+mq($md)
			--search-height: 47px
		&-trigger
			width: var(--search-height)
			height: var(--search-height)
			display: flex
			align-items: center
			justify-content: center
			background-color: var(--clr-white-05)
			border: 1px solid var(--clr-blue)
			cursor: pointer
			flex: 0 0 var(--search-height)
			transition: var(--transition)
			svg
				stroke: var(--clr-grey)
				transition: var(--transition)
			&:hover
				background-color: var(--clr-blue)
				border: 1px solid var(--clr-white)
				svg
					stroke: var(--clr-white)
		&-box
			display: flex
			align-items: center
			gap: 20px
			+mq($xl)
				max-width: calc(100% / 12 * 10)
				margin-inline: auto
		&-popup
			position: fixed
			--search-box-height: 80px
			top: calc(var(--search-box-height) * -1)
			width: 100vw
			height: var(--search-box-height)
			left: 0
			z-index: 100
			display: flex
			align-items: center
			background-color: var(--clr-white-05)
			transition: var(--transition)
			+mq($md)
				--search-box-height: 120px
			+mq($xl)
				--search-box-height: 167px
			&.active
				top: 0
			form
				// max-width: 240px
				width: 100%
				height: var(--search-height)
				position: relative
				flex: 1 1 auto
				input[type="search"]
					margin: 0
					padding: 10px 20px 10px calc(18px + 24px + 8px)
					width: 100%
					height: var(--search-height)
					border: 1px solid var(--clr-blue)
					background-color: var(--clr-white-05)

					+fz(16)
					line-height: 130%
					color: var(--clr-grey-light)
					transition: var(--transition)
					&:placeholder-shown
						// border: 1px solid rgba(56, 56, 56, .5)
						// opacity: .5
					&:placeholder
						+fz(16)
						line-height: 130%
						color: var(--clr-grey-light)
						transition: var(--transition)
					&:focus, &:active
						outline: unset
						color: var(--clr-text)
						&:placeholder
							color: var(--clr-text)

				input[type="submit"]
					--size: 24px
					border: unset
					background-color: transparent
					box-shadow: unset
					background-image: url('../images/icon_search_grey.svg')
					background-position: center
					background-size: contain
					background-repeat: no-repeat
					width: var(--size)
					height: var(--size)
					padding: 0
					position: absolute
					left: 22px
					top: calc(50% - var(--size) / 2)
					cursor: pointer
					+mq($md)
						left: 20px
					+mq($xl)
						left: 18px
	&__contacts
		grid-area: contacts
		padding-top: 20px
		+mq($md)
			padding-top: 0
			display: flex
			align-items: center
			margin-inline: auto
			gap: 8px
		+mq($xl)
			flex-direction: column
			align-items: flex-start
			padding-left: 40px
	&__contact
		&--blue
			+fz(16)
			font-weight: 500
			color: var(--clr-blue)
			line-height: 130%
			text-align: right
			+mq($md)
				text-align: left
		&--black
			+fz(14)
			color: var(--clr-text)
			display: none
			+mq($md)
				display: block