@use '../base/mixins' as *
@use '../base/breakpoints' as *

.pagination
    --size: 30px
    display: flex
    align-items: center
    justify-content: center
    &__items
        display: flex
        align-items: center
        gap: 10px
    &__item
        +fz(18)
        line-height: 130%
        text-transform: uppercase

        +flex-center
        width: var(--size)
        height: var(--size)
        border-radius: 50%
        transition: var(--transition)
        cursor: pointer
        &.--active
            color: var(--clr-dark-grey-font)
            background-color: var(--clr-green)
        &:hover:not(&.--active)
            color: var(--clr-pink)
