@use '../base/mixins' as *
@use '../base/breakpoints' as *

.is-compact .fancybox__content > .f-button.is-close-btn,
.fancybox__content > .f-button.is-close-btn
	--f-button-width: 37px
	--f-button-height: 37px
	--f-button-svg-width: 22px
	--f-button-svg-height: 22px
	--f-button-svg-stroke-width: 2px
	--f-button-bg: transparent
	--f-button-active-bg: transparent
	--f-button-hover-bg: transparent
	--f-button-color: var(--clr-white-05)
	--f-button-hover-color: var(--clr-white-05)

	--f-button-outline: 0
	--f-button-outline-color: var(--clr-grey-05) 
	
	top: 12px
	right: 12px

	opacity: 1
	+mq($md)
		top: 25px
		right: 25px

.fancybox__content
	padding: 0

.fancybox__backdrop
	--fancybox-bg: var(--clr-grey-06)
	backdrop-filter: blur(8px)

.popup
	display: none
	padding: 70px 20px 80px
	background: var(--clr-secondary)
	color: var(--clr-white-05)
	max-width: 360px
	width: 100%
	+mq($md)
		max-width: 700px
	+mq($xl)
		max-width: $max_width
		padding: 40px
		padding: 90px 100px 100px
	&__title
		font-family: var(--ff-ex)
		+fz(26)
		font-weight: 700
		line-height: 100%
		margin-bottom: 13px
		+mq($md)
			+fz(40)
		+mq($xl)
			+fz(52)
	&__subtitle
		+fz(22)
		font-weight: 300
		line-height: 120%
		color: var(--clr-grey-05)
		text-wrap: balance
		+mq($md)
			+fz(30)
		+mq($xl)
			+fz(36)
	&--request
		.form__input textarea
			+mq($md)
				height: 50px
		.form__accept-text
			text-wrap: balance