@use '../base/mixins' as *
@use '../base/breakpoints' as *
	
.rating
	color: var(--clr-primary)
	--icon-size: 40px
	+mq($xl)
		--icon-size: 50px
	&.--small
		--icon-size: 20px
		+mq($md)
			--icon-size: 30px
	&__stars
		display: grid
		grid-template-columns: repeat(5, var(--icon-size))
		gap: 2px
	&__star
		width: var(--icon-size)
		height: var(--icon-size)
		fill: transparent
		cursor: pointer

		&:hover,
		&:focus,
		&.--active,
		&:has(~ &:hover),
		&:has(~ &:focus)
			fill: currentColor

		svg
			transition: var(--transition)