@use '../base/mixins' as *
@use '../base/breakpoints' as *

.custom-tabs
    &__controls
        display: flex
        align-items: center
        gap: 10px
        flex-wrap: nowrap
        overflow: auto
    &__control
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        padding-inline: 26px
        height: 40px
        border-radius: 3px
        background-color: transparent
        border: 1px solid var(--clr-primary)
        color: var(--clr-text)
        transition: var(--transition)
        &.active
            background-color: var(--clr-primary)
            color: var(--clr-white)
    &__element
        display: none
        padding-block: 30px
        +mq($xl)
            padding-block: 50px
        &.active
            display: block


