@use '../base/mixins' as *
@use '../base/breakpoints' as *
    
.about
    &__section
        & + &
            margin-top: 60px
            +mq($xl)
                margin-top: 120px
    &__title
        +fz(24)
        line-height: 120%
        font-weight: 700
        margin-bottom: 16px
        +mq($xl)
            +fz(42)
            margin-bottom: 30px
        +mq($hd)
            margin-bottom: 40px
    &__seo
        display: flex
        flex-direction: column-reverse
        gap: 16px
        +mq($md)
            flex-direction: column
            gap: 24px
        +mq($xl)
            flex-direction: row
            gap: 20px
        +mq($hd)
            gap: 40px
        &-image
            isolation: isolate
            border-radius: 20px
            overflow: hidden
            +mq($xl)
                flex: 1
            img
                +cover
        &-text
            +fz(14)
            line-height: 130%
            +mq($md)
                columns: 2
            +mq($xl)
                columns: 1
                flex: 1
            p + p
                margin-top: 8px
    &__grid
        +mq($hd)
            display: grid
            grid-template-columns: repeat(2, 1fr)
    &__ceil
        +mq($hd)
            border-top: 1px solid var(--fake-black-color)
            border-bottom: 1px solid var(--fake-black-color)
            & + &
                border-left: 1px solid var(--fake-black-color)
    &__testimonials
        +mqMax($xl)
            margin-bottom: 24px
        +mq($md)
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 24px 16px
        +mq($xl)
            grid-template-columns: repeat(4, 1fr)
            gap: 0
            border-top: 1px solid var(--fake-black-color)
            border-bottom: 1px solid var(--fake-black-color)
        +mq($hd)
            grid-template-columns: repeat(2, 1fr)
            border-top: unset
            border-bottom: unset
    &__testimonial
        +mqMax($md)
            & + &
                margin-top: 24px
        +mq($xl)
            padding: 10px
            & + &
                border-left: 1px solid var(--fake-black-color)
        +mq($hd)
            padding: 20px
            & + &
                border-left: 0
                &:nth-child(2n)
                    border-left: 1px solid var(--fake-black-color)
                &:nth-child(3n),
                &:nth-child(4n)
                    border-top: 1px solid var(--fake-black-color)
        &-icon
            +box(100px)
            margin-bottom: 16px
        &-number
            +fz(26)
            line-height: 108%
            font-weight: 700
            color: var(--dark-yellow-color)
            margin-bottom: 8px
        &-title
            +fz(18)
            line-height: 156%
            font-weight: 600
            margin-bottom: 8px
        &-text
            +fz(14)
            line-height: 130%
            color: var(--grey-color)
    &__video
        isolation: isolate
        border-radius: 20px
        position: relative
        overflow: hidden
        +mq($xl)
            margin: 10px 0
        +mq($hd)
            margin: 20px
        > picture,
        > video,
        > iframe
            height: 322px
            width: 100%
            object-fit: cover
            +mq($md)
                height: 314px
            +mq($hd)
                height: 612px
        &-preview
            position: absolute
            inset: 0
            cursor: pointer
            transition: .3s
            img
                +cover
            &--hide
                opacity: 0
                visibility: hidden
            &::before
                content: ''
                display: block
                position: absolute
                +box(100%)
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
            &::after
                content: ''
                display: block
                position: absolute
                z-index: 1
                margin: auto
                inset: 0
                +box(100px)
                border-radius: 50%
                background-color: var(--green-opacity-8-color)
                background-image: url('Images/icon_play.svg')
                background-repeat: no-repeat
                background-size: 44px
                background-position: left 60% center
    &__table
        margin-bottom: 16px
        border-bottom: 1px solid var(--fake-black-color)
        border-left: 1px solid var(--fake-black-color)
        border-right: 1px solid var(--fake-black-color)
        &-row
            +mq($md)
                display: grid
                grid-template-columns: 2fr 4fr
            +mq($xl)
                grid-template-columns: 3fr 9fr
            +mq($hd)
                grid-template-columns: 4fr 8fr
        &-ceil
            padding: 16px
            border-top: 1px solid var(--fake-black-color)

            line-height: 130%
            &:first-child
                +fz(14)
                font-weight: 700
                border-right: 1px solid var(--fake-black-color)
            &:last-child
                +fz(12)
                +mq($xl)
                    +fz(14)

                

