.account_page
    .page-title
        margin-bottom: 16px
        +mq($xl)
            margin-bottom: 32px
.account
    padding-bottom: 60px
    +mq($xl)
        padding-bottom: 80px
    &__inner
        +mq($xl)
            display: flex
            align-items: flex-start
            gap: 60px
    &__menu
        background-color: var(--white-color)
        border-radius: 6px
        margin-bottom: 24px
        width: 100%
        padding: 20px
        +mq($md)
            max-width: 296px
        +mq($xl)
            max-width: unset
            flex: 0 0 240px
            padding: 24px
        &-item
            & + &
                margin-top: 16px
                +mq($xl)
                    margin-top: 20px
            svg,
            path
                fill: var(--black-color)
            &--active
                color: var(--light-blue-color)
                svg,
                path
                    fill: var(--light-blue-color)
            a
                display: flex
                align-items: center
                gap: 12px
                +mq($xl)
                    gap: 16px
    &__main
        +mq($xl)
            flex: 1 1 auto
    &__box
        background-color: var(--white-color)
        border-radius: 8px
        & + &
            margin-top: 20px
            +mq($xl)
                margin-top: 28px
        &-title
            font-family: 'Roboto Condensed', sans-serif
            +fz(18)
            line-height: 120%
            font-weight: 700
            letter-spacing: 0.01em
            text-transform: uppercase
            padding: 16px
            border-bottom: 1px solid var(--stroke-color)
            +mq($md)
                padding: 16px 24px
            +mq($xl)
                padding: 16px 32px
        &-grid
            display: grid
            gap: 16px
            padding: 20px 16px
            +mq($md)
                gap: 20px 16px
                padding: 20px 24px
                grid-template-columns: 1fr 1fr
            +mq($xl)
                gap: 20px
                padding: 24px 32px
                padding-right: 132px
        &-label
            +fz(13)
            line-height: 125%
            font-weight: 500
            margin-bottom: 8px
        &-input
            input
                background-color: #F7F7F7
                border-radius: 4px
                border: 1px solid var(--stroke-color)
                +fz(14)
                line-height: 130%
                font-weight: 500
                padding: 14px 16px
                width: 100%
                transition: .3s
                &::placeholder
                    color: var(--dark-grey-color)
                &:focus
                    border: 1px solid var(--blue-color)
                    box-shadow: 0px 0px 3px var(--focus-blue-color)
        &-btns
            display: flex
            gap: 10px
            width: calc(100% / 2 - 8px)
            +mq($md)
                grid-column: span 2
                width: calc(100% / 2 - 10px)
            input
                width: 100%
    &__text
        +fz(14)
        line-height: 145%
        margin-bottom: 24px
.account-order
    &__box
        background-color: var(--white-color)
        border-radius: 8px
        & + &
            margin-top: 20px
            +mq($xl)
                margin-top: 28px
        &--open
            .account-order__arrow::before
                transform: rotate(-135deg)
            .account-order__images
                max-height: 0
                overflow: hidden
            .account-order__summary
                margin-top: 24px
            .account-order__images-counter
                font-size: 0

    &__head
        padding: 16px
        display: flex
        align-items: flex-start
        cursor: pointer
        border-bottom: 1px solid var(--stroke-color)
        +mq($md)
            padding: 12px 32px
            align-items: center
    &__left
        +mq($md)
            display: flex
            align-items: center
    &__number
        font-family: 'Roboto Condensed', sans-serif
        +fz(18)
        line-height: 120%
        font-weight: 700
        letter-spacing: 0.01em
        text-transform: uppercase
        +mq($md)
            margin-right: 8px
    &__date
        +fz(13)
        line-height: 120%
        font-weight: 500
        margin-bottom: 8px
        +mq($md)
            margin-bottom: 0
            margin-right: 24px
    &__status
        +fz(11)
        font-weight: 500
        line-height: 130%
        letter-spacing: 0.01em
        text-transform: uppercase
        color: var(--white-color)
        border-radius: 4px
        padding: 8px 16px
        &--process
            background-color: var(--orange-color)
        &--complete
            background-color: var(--green-color)
        &--cancel
            background-color: var(--red-color)
    &__arrow
        margin-left: auto
        margin-top: 5px
        +mq($md)
            margin-top: -3px
        &::before
            $size: 8px
            +arrow($size, var(--dark-grey-color))
            flex: 0 0 $size
            transition: transform .3s
    &__toggle
        max-height: 0
        overflow: hidden
        transition: max-height .6s
    &__row
        padding: 20px 16px
        border-bottom: 1px solid var(--stroke-color)
        &:last-child
            padding-bottom: 0
            border-bottom: unset
            .account-order__title
                margin-bottom: 0
        +mq($md)
            padding: 20px 32px
        +mq($xl)
            padding: 24px 32px
    &__title
        font-family: 'Roboto Condensed', sans-serif
        +fz(16)
        line-height: 125%
        font-weight: 700
        letter-spacing: 0.01em
        text-transform: uppercase
        margin-bottom: 12px
        +mq($xl)
            +fz(18)
            line-height: 120%
            margin-bottom: 20px
    &__info
        &-item
            +fz(14)
            line-height: 130%
            font-weight: 500
            +mq($md)
                display: flex
                align-items: flex-start
                gap: 20px
            & + &
                margin-top: 12px
        &-label
            color: var(--dark-grey-color)
            margin-bottom: 2px
            +mq($md)
                flex: 0 0 140px
        &-value
            +mq($md)
                flex: 1 1 auto
    &__text
        +fz(14)
        line-height: 130%
        font-weight: 500
    &__product
        &-item
            display: grid
            grid-template-areas: 'image stock' 'image name' 'image price'
            grid-template-columns: 80px 1fr
            gap: 0 12px
            position: relative
            padding-top: 28px
            +mq($md)
                grid-template-areas: 'image stock price' 'image name price' 'image . actions'
                grid-template-columns: 88px auto 170px
                gap: 14px 16px
                padding-top: 20px
            +mq($xl)
                grid-template-areas: 'image stock price' 'image name price' 'image . .' 'image . actions'
                grid-template-columns: 120px auto 190px
                gap: 0

            & + &
                margin-top: 24px
                border-top: 1px solid var(--stroke-color)
                +mq($xl)
                    margin-top: 20px
        &-image
            grid-area: image
        &-stock
            grid-area: stock
            +fz(11)
            line-height: 130%
            font-weight: 500
            letter-spacing: 0.01em
            text-transform: uppercase
            color: var(--light-blue-color)
        &-name
            grid-area: name
            +fz(14)
            line-height: 130%
            margin-bottom: 12px
            +mq($md)
                margin-bottom: 0
            +mq($xl)
                +fz(15)
                line-height: 145%
        &-price
            grid-area: price
            &--total
                +fz(16)
                line-height: 125%
                font-weight: 700
                +mq($xl)
                    +fz(18)
                    line-height: 120%
                    text-align: right
            &--subtotal
                +fz(13)
                line-height: 120%
                font-weight: 500
                color: var(--dark-grey-color)
                +mq($xl)
                    +fz(14)
                    line-height: 130%
                    text-align: right
        &-actions
            grid-area: actions
            +mqMax($md)
                display: none
                flex-direction: column
                gap: 16px
                position: absolute
                right: 0
                top: 24px
                background: var(--white-color)
                padding: 16px 20px
                box-shadow: 0px 4px 16px rgba(39, 48, 71, 0.16)
                &--open
                    display: flex
            +mq($md)
                display: flex
                gap: 20px
            +mq($xl)
                gap: 24px
            &--toggler
                display: block
                position: absolute
                right: 0
                top: 6px
                +mq($md)
                    display: none
        &-action
            +fz(13)
            line-height: 125%
            font-weight: 500
            color: var(--dark-grey-color)
            &.wishlist-active
                color: var(--light-blue-color)
            +mq($xl)
                +fz(14)
                line-height: 115%

    &__bottom
        padding: 0 16px 16px
        overflow: hidden
        position: relative
        +mq($md)
            padding: 0 16px 24px
        +mq($xl)
            padding: 0 16px 32px
    &__images
        --image-counter: 2
        --image-size: 96px
        --image-gap: 8px
        display: flex
        gap: var(--image-gap)
        max-width: calc(var(--image-size) * var(--image-counter) + var(--image-gap) * (var(--image-counter) - 1))
        overflow: hidden
        transition: max-height .6s
        margin-top: 20px
        +mq($md)
            --image-counter: 4
        +mq($xl)
            --image-counter: 5
            --image-size: 120px
            --image-gap: 16px
            margin-top: 24px
        &-counter
            +fz(13)
            font-weight: 500
            line-height: 125%
            text-align: right
            position: absolute
            right: 16px
            top: calc(25% - 8px / 2)
            max-width: 55px
            +mq($md)
                right: 32px
                max-width: unset
            +mq($xl)
                +fz(14)
                line-height: 115%
    &__image
        flex: 0 0 96px
        +mq($xl)
            flex: 0 0 120px
    &__summary
        +fz(16)
        line-height: 125%
        font-weight: 700
        padding-top: 16px
        margin-top: 20px
        margin-bottom: 4px
        border-top: 1px solid var(--stroke-color)
        +mq($xl)
            +fz(18)
            padding-top: 20px
            margin-top: 20px
    &__count
        +fz(13)
        line-height: 120%
        font-weight: 500
        color: var(--dark-grey-color)
        +mq($xl)
            +fz(14)
            line-height: 130%
.enter
    padding: 24px 0 60px
    text-align: center
    +mq($xl)
        padding: 40px 0 100px
    &__title
        font-family: 'Roboto Condensed', sans-serif
        +fz(28)
        line-height: 120%
        font-weight: 700
        letter-spacing: 0.01em
        text-transform: uppercase
        margin-bottom: 24px
    &__form
        max-width: 264px
        margin: 0 auto
        +mq($xl)
            max-width: 348px
        &-label
            display: block
            +fz(13)
            line-height: 125%
            font-weight: 500
            margin-bottom: 8px
            text-align: left
        &-input
            & + &
                margin-top: 16px
                +mq($xl)
                    margin-top: 20px
            input,
            textarea
                background-color: var(--white-color)
                border: 1px solid var(--stroke-color)
                border-radius: 4px
                +fz(14)
                line-height: 130%
                font-weight: 500
                padding: 14px 16px
                width: 100%
                transition: .3s
                &::placeholder
                    color: var(--dark-grey-color)
                &:focus
                    border: 1px solid var(--blue-color)
                    box-shadow: 0px 0px 3px var(--focus-blue-color)
    &__btn
        margin-top: 32px
        margin-bottom: 16px
        width: 100%
    &__forgot-password
        +fz(13)
        line-height: 125%
        font-weight: 500
        display: block
        width: 100%
        margin-bottom: 32px
        color: var(--light-blue-color)
        +mq($xl)
            +fz(14)
            line-height: 115%
            margin-bottom: 40px
    &__register
        +fz(13)
        line-height: 125%
        font-weight: 500
        +mq($xl)
            +fz(14)
            line-height: 115%
        a
            color: var(--light-blue-color)
.registration
    padding: 24px 0 60px
    text-align: center
    +mq($xl)
        padding: 40px 0 100px
    &__title
        font-family: 'Roboto Condensed', sans-serif
        +fz(28)
        line-height: 120%
        font-weight: 700
        letter-spacing: 0.01em
        text-transform: uppercase
        margin-bottom: 24px
    &__form
        max-width: 264px
        margin: 0 auto
        +mq($md)
            max-width: 544px
        +mq($xl)
            max-width: 716px
        &-grid
            display: grid
            gap: 16px
            +mq($md)
                gap: 20px 16px
                grid-template-columns: 1fr 1fr
            +mq($xl)
                gap: 20px
        &-label
            display: block
            +fz(13)
            line-height: 125%
            font-weight: 500
            margin-bottom: 8px
            text-align: left
        &-input
            & + &
                margin-top: 16px
                +mq($xl)
                    margin-top: 20px
            input,
            textarea
                background-color: var(--white-color)
                border: 1px solid var(--stroke-color)
                border-radius: 4px
                +fz(14)
                line-height: 130%
                font-weight: 500
                padding: 14px 16px
                width: 100%
                transition: .3s
                &::placeholder
                    color: var(--dark-grey-color)
                &:focus
                    border: 1px solid var(--blue-color)
                    box-shadow: 0px 0px 3px var(--focus-blue-color)
    &__item
        small
            +fz(12)
            line-height: 120%
            font-weight: 500
            color: var(--dark-grey-color)
            display: block
            margin-top: 6px
            text-align: left
            +mq($xl)
                +fz(13)
    &__btn
        margin-top: 32px
        margin-bottom: 16px
        width: 100%
    &__tip
        +fz(11)
        line-height: 130%
        margin-bottom: 32px
        a
            color: var(--light-blue-color)
        +mq($xl)
            +fz(12)
            margin-bottom: 40px