.article
    padding-bottom: 60px
    +mq($xl)
        padding-bottom: 80px
    &__date
        +fz(13)
        line-height: 120%
        font-weight: 500
        color: var(--dark-grey-color)
        margin-top: -20px
        margin-bottom: 20px
        +mq($xl)
            +fz(14)
            line-height: 130%
            margin-top: -32px
    &__content
        h4
            +mq($xl)
                margin-bottom: 12px
        ul, ol
            margin-bottom: 28px
            +mq($xl)
                margin-bottom: 32px
.related-articles
    background-color: var(--white-color)
    padding: 60px 0
    overflow: hidden
    +mq($xl)
        padding: 80px 0
    &__title
        font-family: "Roboto Condensed", sans-serif
        +fz(26)
        line-height: 122%
        font-weight: 700
        letter-spacing: 0.01em
        text-transform: uppercase
        margin-bottom: 24px
        +mq($md)
            margin-bottom: 28px
        +mq($xl)
            +fz(32)
            line-height: 125%
            margin-bottom: 40px
    &__slider
        position: relative
        .swiper-slide
            opacity: 0
            transition: .3s
        .swiper-slide-visible
            opacity: 1
        .swiper-pagination-bullets
            +mqMax($md)
                bottom: -24px