@use '../base/mixins' as *
@use '../base/breakpoints' as *

.articles-page
    &__subtitle
        +fz(20)
        font-weight: 300
        line-height: 120%
        margin-bottom: 30px
        +mq($md)
            +fz(36)
    &__grid
        display: grid
        gap: 20px
        margin-bottom: 80px
        +mq($md)
            grid-template-columns: repeat(2, 1fr)
        +mq($xl)
            grid-template-columns: repeat(3, 1fr)
            margin-bottom: 100px

.articles-element
    margin-bottom: 80px
    +mq($xl)
        margin-bottom: 100px
    &__image
        margin-bottom: 30px
        max-height: 100px
        +mq($md)
            max-height: 190px
    &__text
        +mq($xl)
            max-width: calc(100% / 10 * 7)