.articles
    padding-bottom: 60px
    +mq($xl)
        padding-bottom: 80px
    &__list
        display: grid
        grid-template-columns: 1fr
        gap: 28px
        +mq($md)
            grid-template-columns: 1fr 1fr
            gap: 28px 20px
        +mq($xl)
            grid-template-columns: 1fr 1fr 1fr
            gap: 40px 20px
    &__item
        &:hover
            > .articles__item-name
                color: var(--light-blue-color)
        &-image
            display: flex
            object-fit: cover
            margin-bottom: 12px
            min-height: 150px
            +mq($md)
                min-height: 165px
            +mq($xl)
                min-height: 220px
                margin-bottom: 20px
        &-name
            +fz(16)
            font-weight: 700
            line-height: 125%
            margin-bottom: 8px
            transition: color .3s
            +mq($xl)
                +fz(18)
                line-height: 120%
                margin-bottom: 16px
        &-date
            +fz(13)
            line-height: 120%
            font-weight: 500
            color: var(--dark-grey-color)
            +mq($xl)
                +fz(14)
                line-height: 130%