@use '../base/mixins' as *
@use '../base/breakpoints' as *
    
.checkout
    
    &__summary
        margin-top: 16px
        
        display: grid
        grid-template-columns: repeat(3, 1fr)
        max-width: max-content
        margin-left: auto
        +mq($md)
            grid-template-columns: auto auto auto auto
        +mq($xl)
            margin-top: 20px

        &-ceil
            border-top: 1px solid var(--fake-black-color)
            border-bottom: 1px solid var(--fake-black-color)
            padding: 18px 16px
            
            border-left: 1px solid var(--fake-black-color)
            &:nth-child(3)
                border-right: 1px solid var(--fake-black-color)
        .btn
            margin-top: 16px
            width: 100%
            grid-column: 1/4
            height: 54px
            +mq($md)
                width: 224px
                margin-left: auto
                grid-column: unset
                margin-top: 0
                margin-left: 15px


