@use '../base/mixins' as *
@use '../base/breakpoints' as *

.contacts 
	&__list
		margin-bottom: 30px
		+mq($md)
			display: grid
			grid-template-columns: repeat(2, 1fr)
			gap: 35px
			margin-bottom: 35px
		+mq($xl)
			grid-template-columns: repeat(4, minmax(0, auto))
			gap: 80px
			margin-bottom: 45px
	&__item
		+fz(18)
		line-height: 150%
		+mqMax($md)
			& + &
				margin-top: 25px
		&:first-child
			white-space: nowrap
		&-title
			font-weight: 400
			text-transform: uppercase
			margin-bottom: 8px
			+mq($xl)
				margin-bottom: 15px
		&-value
			color: #1C1C1C
		&-row
			& + &
				margin-top: 10px
				+mq($xl)
					margin-top: 15px
	&__map
		margin-bottom: 30px
		+mq($md)
			margin-bottom: 35px
		+mq($xl)
			margin-bottom: 45px
		&-area
			isolation: isolate
			border-radius: var(--border-radius)
			overflow: hidden
			height: 347px
			+mq($md)
				height: 320px
			+mq($xl)
				height: 545px
		&-coord
			display: none