.delivery
    padding-bottom: 60px
    +mq($xl)
        padding-bottom: 80px
    .catalog__aside
        display: none
        +mq($xl)
            display: block
    .map
        height: 400px
        +mq($md)
            height: 280px
        +mq($xl)
            height: 320px
    &__block
        border-radius: 8px
        background-color: var(--white-color)
        padding: 32px 16px
        +mq($md)
            padding: 32px 28px
        +mq($xl)
            padding: 32px 40px
        > p:last-child
            margin-bottom: 20px
        & + &
            margin-top: 28px
            +mq($xl)
                margin-top: 32px