@import '../base/variables'
@import '../base/mixins'

.faq
	margin-bottom: 20px
	+mq($xl)
		margin-bottom: 30px
	&__list
		+mq($xl)
			max-width: calc(100% / 12 * 8)
	&__item
		border-radius: 5px
		border: 1px solid var(--border-grey-color)
		padding: 20px
		+mq($xl)
			padding: 30px
		& + &
			margin-top: 20px
		&-head
			cursor: pointer
		&-title
			font-family: 'Montserrat', sans-serif
			+fz(18)
			font-weight: 500
			line-height: 20px
			color: var(--accent-purple-color)
			+mq($xl)
				+fz(24)
				line-height: 32px
		&--close
				max-height: 0
		&-toggler
			max-height: 0
			overflow: hidden
			transition: .6s
	&__content
		padding-top: 12px
		font-family: 'Montserrat', sans-serif
		+fz(16)
		line-height: 22px
		color: var(--text-color)