.hero
    padding: 24px 0 32px
    overflow-x: hidden
    +mq($md)
        padding: 28px 0 32px
    +mq($xl)
        padding: 32px 0 40px
    &__inner
        +mq($xl)
            display: flex
            //align-items: center
            justify-content: space-between
    &__left
        +mqMax($xl)
            padding-bottom: 24px
            margin-bottom: 32px
        +mq($xl)
            flex: 0 0 calc(100% / 12 * 9 - 10px)
            overflow: hidden
    &__right
        overflow: hidden
        +mqMax($xl)
            padding-bottom: 24px
        +mq($xl)
            flex: 0 0 calc(100% / 12 * 3 - 10px)
            overflow: hidden
    &__slider
        //overflow-x: hidden
        position: relative
        +mq($xl)
            padding-bottom: 28px
        &-item
            padding: 34px 20px
            background-repeat: no-repeat
            background-size: auto
            background-position: right center
            color: var(--white-color)
            position: relative
            &::before
                --edge-size: 30px
                --max-width: 17%
                content: ''
                display: block
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                //max-width: calc(100% - 50px)
                max-width: calc(100% - max(50px, var(--max-width)))
                background: linear-gradient(256.09deg, #489FE2 -15.9%, #09204B 100%)
                clip-path: polygon(0 0, 100% 0%, calc(100% - var(--edge-size)) 100%, 0% 100%)
                +mq($md)
                    //max-width: calc(100% - 135px)
                    --max-width: 23%
                    max-width: calc(100% - max(135px, var(--max-width)))
                    background: linear-gradient(255.03deg, #489FE2 -23.25%, #09204B 99.95%)
                    --edge-size: 85px
                +mq($xl)
                    //max-width: calc(100% - 190px)
                    --max-width: 21.5%
                    max-width: calc(100% - max(190px, var(--max-width)))
                    background: linear-gradient(255.24deg, #489FE2 -21.79%, #09204B 100%)
                    --edge-size: 120px
            +mq($md)
                padding: 44px 40px
            +mq($xl)
                padding: 82px 80px
                min-height: 415px
            &-title
                font-family: 'Roboto Condensed', sans-serif
                +fz(18)
                font-weight: 700
                line-height: 125%
                letter-spacing: 0.01em
                text-transform: uppercase
                margin-bottom: 8px
                //max-width: 220px
                max-width: max(220px, calc(100% - 17%))
                position: relative
                z-index: 10
                +mq($md)
                    +fz(26)
                    margin-bottom: 12px
                    //max-width: 420px
                    max-width: max(420px, calc(100% - 25%))
                +mq($xl)
                    +fz(32)
                    //max-width: 520px
                    max-width: max(520px, calc(100% - 21.5%))
            &-subtitle
                +fz(12)
                line-height: 135%
                margin-bottom: 24px
                //max-width: 220px
                max-width: max(220px, calc(100% - 17%))
                position: relative
                z-index: 10
                +mq($md)
                    +fz(14)
                    line-height: 145%
                    margin-bottom: 24px
                    //max-width: 420px
                    max-width: max(420px, calc(100% - 27%))
                +mq($xl)
                    +fz(15)
                    margin-bottom: 28px
                    //max-width: 520px
                    max-width: max(520px, calc(100% - 21.5%))
            &-btn
                //width: 100%
                //max-width: 160px
                position: relative
                z-index: 10
                +mq($xl)
                    //max-width: 193px
        &-pagination
            bottom: -27px !important
            +mq($xl)
                bottom: 0 !important
    &__sale
        padding: 16px 20px
        background: var(--white-color)
        border: 1px solid var(--stroke-color)
        position: relative
        +mq($md)
            padding: 24px 40px
        +mq($xl)
            padding: 16px
            min-height: 415px
        &-slides
            //overflow: hidden
        &-top
            display: flex
            align-items: center
            justify-content: space-between
            position: relative
            margin-bottom: 16px
        &-title
            font-family: 'Roboto Condensed', sans-serif
            +fz(16)
            line-height: 125%
            font-weight: 700
            letter-spacing: 0.03em
            text-transform: uppercase
            color: var(--black-color)
            +mq($xl)
                +fz(18)
                line-height: 120%
        &-arrows
            display: flex
            //row-gap: 12px
            > .swiper-button-prev,
            > .swiper-button-next
                --swiper-navigation-size: 12px
                +flex
                position: static
                width: 12px
                height: 12px
                display: inline-block
            > .swiper-button-prev
                margin-right: 12px
        &-item
            display: grid
            grid-template-areas: 'image info' 'btns btns'
            gap: 16px 12px
            grid-template-columns: 1fr 2fr
            +mq($md)
                grid-template-areas: 'image info' 'image btns'
                grid-template-columns: 150px 1fr
                gap: 16px 32px
            +mq($xl)
                grid-template-areas: 'image' 'info' 'btns'
                gap: 20px 0
                grid-template-columns: 1fr
            &-image
                grid-area: image
                text-align: center
            &-info
                grid-area: info
            &-stock
                +fz(11)
                font-weight: 500
                line-height: 130%
                letter-spacing: 0.01em
                text-transform: uppercase
                color: var(--light-blue-color)
                margin-bottom: 4px
                +mq($xl)
                    +fz(12)
            &-name
                +fz(13)
                line-height: 130%
                margin-bottom: 12px
                +mq($md)
                    margin-bottom: 20px
                +mq($xl)
                    +fz(15)
                    line-height: 135%
                    margin-bottom: 16px
            &-price
                +fz(16)
                font-weight: 700
                line-height: 125%
                +mq($xl)
                    +fz(18)
                    line-height: 120%
            &-btns
                grid-area: btns
                display: flex
                align-items: center
                gap: 12px
                +mq($xl)
                    gap: 8px
                .btn
                    width: 100%
                    max-height: 40px
                    max-width: 215px
                    +mq($md)
                        max-width: 196px
                    +mq($xl)
                        max-height: 44px
            &-wishlist
                width: 40px
                height: 40px
                border-radius: 4px
                border: 1px solid var(--stroke-color)
                +flex
                cursor: pointer
                svg
                    path
                        transition: .3s
                &:hover
                    svg
                        path
                            fill: var(--blue-color)

        &-pagination
            bottom: -27px !important
            +mq($xl)
.aside-menu
    margin-bottom: 28px
    +mq($md)
        margin-bottom: 36px
    +mq($xl)
        margin-bottom: 0
    &__list
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 8px
        +mq($md)
            grid-template-columns: repeat(4, 1fr)
        +mq($xl)
            display: block
            border-left: 2px solid var(--light-blue-color)
            padding-left: 16px
        &-level-1
            display: none
            border-left: unset
            margin-top: 16px
            padding-left: 20px
    &__item
        +mq($xl)
            & + &
                padding-top: 20px
        a
            +fz(13)
            font-weight: 500
            line-height: 120%
            letter-spacing: 0.01em
            text-transform: uppercase
            word-break: break-word
            transition: .3s color
            +mqMax($xl)
                border: 1px solid var(--stroke-color)
                //padding: 16px 12px
                padding: 16px 8px
                +flex
                text-align: center
                height: 100%
            +mq($xl)
                +fz(14)
                line-height: 130%
                display: flex
                align-items: center
            &:hover
                color: var(--light-blue-color)
        &-level-1
            > a
                +mq($xl)
                    &::before
                        content: ''
                        display: block
                        +arr(5, 9, var(--black-color), r)
                        margin-right: 8px
        &-level-2
            a
                text-transform: unset
        &.active
            > .aside-menu__list
                +mq($xl)
                    display: block
            > a
                color: var(--light-blue-color)
.tabs
    overflow: hidden
    &__nav
        border-bottom: 1px solid var(--stroke-color)
        display: flex
        justify-content: space-between
        gap: 28px
        margin-bottom: 20px
        overflow: auto
        &::-webkit-scrollbar
            max-height: 0px
        +mq($md)
            margin-bottom: 24px
            gap: 0
        +mq($xl)
            margin-bottom: 32px
        &-item
            +fz(12)
            font-weight: 600
            line-height: 120%
            letter-spacing: 0.01em
            text-transform: uppercase
            cursor: pointer
            padding: 12px 0
            text-align: center
            flex: 0 0 auto
            transition: .3s color
            +mq($md)
                flex: 0 0 calc(100% / 3)
            +mq($xl)
                +fz(13)
            &:hover
                color: var(--light-blue-color)
            &.active
                color: var(--light-blue-color)
                border-bottom: 2px solid var(--light-blue-color)
    &__content
        &-item
            display: none
            &.active
                display: block
.testimonials
    padding: 60px 0
    +mq($xl)
        padding: 80px 0
    &__title
        font-family: "Roboto Condensed", sans-serif
        +fz(26)
        font-weight: 700
        line-height: 122%
        letter-spacing: 0.01em
        text-transform: uppercase
        margin-bottom: 24px
        +mq($md)
            margin-bottom: 28px
        +mq($xl)
            +fz(32)
            line-height: 125%
            margin-bottom: 40px
    &__box
        border-radius: 12px
        overflow: hidden
        background: var(--white-color)
        margin-bottom: 48px
        +mq($xl)
            border-radius: 16px
            border-bottom: 20px solid var(--blue-color)
            margin-bottom: 80px
    &__flex
        padding: 24px 20px 32px
        +mq($md)
            padding: 40px 32px
        +mq($xl)
            display: flex
            justify-content: space-between
            padding: 40px 40px 60px
    &__double
        +mq($md)
            display: flex
        +mq($xl)
            flex: 0 0 calc(100% / 12 * 5)
            flex-direction: column
        &-item
            text-align: left
            padding-bottom: 24px
            +mqMax($md)
                & + &
                    margin-bottom: 4px
            +mq($md)
                &:nth-child(1)
                    flex: 0 0 calc(100% / 8 * 5)
                    padding-right: calc(100% / 8)
                &:nth-child(2)
                    flex: 0 0 calc(100% / 8 * 3)
            +mq($xl)
                padding: 40px 0 0
                & + &
                    padding: 30px 0 0
                &:nth-child(1),
                &:nth-child(2)
                    flex: 0 0 50%
                    padding-right: unset
    &__grid
        display: grid
        grid-template-columns: 1fr
        background: var(--white-color)
        +mq($md)
            grid-template-columns: 1fr 1fr
        +mq($xl)
            flex: 0 0 calc(100% / 12 * 7)
            grid-template-columns: 1fr 1fr
        &-item
            padding-bottom: 16px
            &:last-child
                padding-bottom: 0
            & + &
                +mqMax($md)
                    border-top: 1px solid var(--stroke-color)
                    padding-top: 16px
            +mq($md)
                text-align: center
                padding: 30px 12px
                &:nth-child(2n)
                    border-left: 1px solid var(--stroke-color)
                &:nth-child(3n),
                &:nth-child(4n)
                    border-top: 1px solid var(--stroke-color)
            +mq($xl)
                padding: 40px 30px
        &-title
            font-family: "Roboto Condensed", sans-serif
            +fz(40)
            font-weight: 700
            line-height: 100%
            color: var(--blue-color)
            margin-bottom: 4px
            text-transform: uppercase
            +mq($xl)
                +fz(60)
        &-subtitle
            font-family: "Roboto Condensed", sans-serif
            +fz(20)
            font-weight: 700
            line-height: 120%
            letter-spacing: 0.01em
            color: var(--blue-color)
            margin-bottom: 6px
            text-transform: uppercase
            +mq($xl)
                +fz(24)
                line-height: 125%
        &-text
            +fz(14)
            line-height: 145%
            +mq($xl)
                +fz(15)
    &__list
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 8px
        +mq($md)
            gap: 16px
        +mq($xl)
            grid-template-columns: 1fr 1fr 1fr 1fr
            gap: 20px
    &__item
        background-color: #E6EBF4
        padding: 20px 12px
        +mq($md)
            padding: 20px 20px 32px
        +mq($xl)
            padding: 20px 20px 54px
        &-icon
            margin-bottom: 16px
            +mq($md)
                margin-bottom: 20px
            +mq($xl)
                margin-bottom: 24px
        &-text
            +fz(14)
            line-height: 145%
            word-break: break-word
            +mq($xl)
                +fz(15)
.partners
    padding: 60px 0
    background: var(--white-color)
    +mq($xl)
        padding: 80px 0
    &__title
        font-family: "Roboto Condensed", sans-serif
        +fz(26)
        font-weight: 700
        line-height: 122%
        letter-spacing: 0.01em
        text-transform: uppercase
        margin-bottom: 8px
        +mq($xl)
            +fz(32)
            line-height: 125%
    &__subtitle
        +fz(14)
        line-height: 145%
        margin-bottom: 32px
        color: var(--dark-grey-color)
        +mq($xl)
            +fz(15)
            margin-bottom: 40px
    &__list
        display: grid
        grid-template-columns: 1fr 1fr
        border: 1px solid var(--stroke-color)
        +mq($md)
            //grid-template-columns: repeat(4, 1fr)
            grid-template-columns: repeat(4, 25%)
    &__item
        padding: 16px 14px 36px
        text-align: center
        display: flex
        flex-direction: column
        border-top: 1px solid var(--stroke-color)
        &:nth-child(2n)
            border-left: 1px solid var(--stroke-color)
        &:nth-child(1),
        &:nth-child(2)
            border-top: unset
        +mq($md)
            &:nth-child(2n + 1)
                border-left: 1px solid var(--stroke-color)
            &:nth-child(3),
            &:nth-child(4)
                border-top: unset
        +mq($xl)
            padding: 16px 0 34px
        &-image
            flex: 0 0 60px
            +flex
            max-width: 120px
            margin: 0 auto 16px
            +mq($xl)
                margin-bottom: 12px
            img
                max-height: 60px
        &-name
            font-family: "Roboto Condensed", sans-serif
            +fz(16)
            font-weight: 700
            line-height: 125%
            letter-spacing: 0.01em
            text-transform: uppercase
            margin-bottom: 6px
            word-break: break-word
            +mq($xl)
                +fz(18)
                line-height: 120%
        &-city
            +fz(13)
            line-height: 125%
            color: var(--dark-grey-color)
            +mq($xl)
                +fz(14)
                line-height: 130%