@use '../base/mixins' as *
@use '../base/breakpoints' as *

.hero
	margin-top: 30px
	margin-bottom: 80px
	+mq($md)
		margin-top: 40px
	+mq($xl)
		margin-top: 60px
		margin-bottom: 100px
	&__title
		font-family: var(--ff-ex)
		+fz(32)
		font-weight: 700
		line-height: 100%
		margin-bottom: 10px
		+mq($md)
			+fz(50)
			max-width: 580px
		+mq($xl)
			+fz(64)
			max-width: unset
			margin-bottom: 16px
	&__subtitle
		margin-bottom: 40px
		+mq($xl)
			display: flex
			align-items: center
			margin-left: calc(100% / 12 * 2)
			margin-bottom: 50px
		&-text
			+fz(20)
			font-weight: 300
			line-height: 120%
			margin-bottom: 40px
			+mq($md)
				+fz(30)
				margin-bottom: 50px
			+mq($xl)
				margin-bottom: 0
		&-btn
			+mq($xl)
				margin-left: auto
	&__image
		height: 320px
		+mqMax($xl)
			position: relative
			width: 100vw
			left: calc(var(--gutter) * -1) 
		img
			+cover
	&__advantages
		&-list
			position: relative
			top: -42px
			+mq($md)
				display: flex
				align-items: flex-end
				justify-content: space-between
				gap: 20px
		&-item
			padding: 12px 16px
			border: 1px solid var(--clr-blue)
			background-color: var(--clr-white)
			+mq($md)
				margin-top: 30px
			+mq($xl)
				flex: 1
			+mqMax($md)
				& + &
					margin-top: 20px
			&--top-shift
				+mq($md)
					align-self: flex-start
					margin-top: 0
		&-number
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 7px

			font-family: var(--ff-ex2)
			+fz(24)
			line-height: 120%
			color: var(--clr-blue)
			+mq($md)
				+fz(32)
			+mq($xl)
				+fz(40)
			&::before
				content: ''
				--cube-size: 10px
				width: var(--cube-size)
				height: var(--cube-size)
				flex: 0 0 var(--cube-size)
				background-color: var(--clr-orange)
				margin-right: 10px
		&-text
			+fz(16)
			line-height: 120%
			color: var(--clr-grey)
			text-align: center
.top-sale
	margin-bottom: 80px
	overflow-x: hidden
	+mq($xl)
		margin-bottom: 90px
	+mq($xl)
		.swiper-wrapper
			align-content: flex-start
		.swiper-slide:nth-of-type(2n+1) .catalog__item
			margin-top: 30px
	&--bg
		padding: 70px 0 40px
		background-color: var(--clr-white-1)
		+mq($md)
			padding: 70px 0 80px
		+mq($xl)
			padding: 90px 20px 100px
			margin: 0 20px 100px
.manufacturers-section
	margin-bottom: 80px
	overflow-x: hidden
	+mq($xl)
		margin-bottom: 100px

.advantages
	margin-bottom: 80px
	+mq($xl)
		margin-bottom: 100px
	&__grid
		display: grid
		grid-template-columns: 1fr
		gap: 20px
		+mq($md)
			grid-template-columns: repeat(2, 1fr)
		+mq($xl)
			grid-template-columns: repeat(3, 1fr)
	&__item
		background-color: var(--clr-grey)
		padding: 26px
		position: relative
		&::before
			content: ''
			display: block
			width: 10px
			height: 10px
			background-color: var(--clr-blue)
			position: absolute
			z-index: 10 
			top: 10px
			left: 10px
		&--span
			+mq($md)
				display: grid
				gap: 0 20px
				grid-template-columns: repeat(2, 1fr)
				grid-template-rows: min-content

				grid-column: 1/3
			+mq($xl)
				grid-column: 1/4
			&-md
				+mq($md)
					grid-column: 1/3
				+mq($xl)
					grid-column: unset
		&-title
			+fz(30)
			font-weight: 300
			line-height: 120%
			color: var(--clr-orange)
			+mq($xl)
				+fz(36)
		&-text
			+fz(16)
			font-weight: 300
			line-height: 130%
			color: var(--clr-white-2)
			margin-top: 10px
			+mq($xl)
				+textLimit(2)
		&-image
			display: none
			+mq($md)
				display: block
				grid-column: 2/3
				grid-row: 1/4
				justify-self: end
.articles-section
	padding: 70px 0 80px
	margin-bottom: 70px
	background-color: var(--clr-white-1)
	overflow-x: hidden
	+mq($xl)
		padding: 90px 0 100px
		margin: 0 20px 90px
	&__slider
		margin-bottom: 40px
		+mq($md)
			margin-bottom: 50px
		+mq($xl)
			margin-bottom: 60px
			.swiper-wrapper
				align-content: flex-start
			.swiper-slide:nth-of-type(2n) .blog__item
				margin-top: 30px
.popular
	margin-bottom: 70px
	+mq($xl)
		margin-bottom: 90px
	&__grid
		+mq($md)
			display: grid
			grid-template-columns: repeat(2, 1fr)
			gap: 20px
		+mq($xl)
			grid-template-columns: repeat(3, 1fr)
	&__item
		padding: 26px
		background-color: var(--clr-grey)
		position: relative
		display: flex
		align-items: center
		min-height: 190px
		transition: var(--transition)
		&:hover
			background-color: var(--clr-text)
		+mqMax($md)
			& + &
				margin-top: 20px
		&--row-span
			grid-row: span 2
		&--column-span
			grid-column: span 2
		&-name
			+fz(30)
			font-weight: 300
			line-height: 120%
			color: var(--clr-orange)
			+mq($xl)
				+fz(36)
		&-icon
			position: absolute
			z-index: 10
			width: var(--icon-width)
			height: var(--icon-height)
			&--angle
				--icon-width: 80px
				--icon-height: 68px
				bottom: 6px
				right: 6px
			&--pressure
				--icon-width: 102px
				--icon-height: 90px
				top: 0
				left: 6px
			&--linear
				--icon-width: 165px
				--icon-height: 82px
				bottom: 0
				right: 12px
			&--servo
				--icon-width: 74px
				--icon-height: 74px
				top: 10px
				left: 10px
			+mq($md)
				&--angle
					bottom: 14px
					right: 9px
				&--pressure
					left: unset
					right: 12px
				&--linear
					right: 14px
				&--servo
					left: unset
					top: 14px
					right: 14px
			+mq($xl)
				&--angle
					--icon-width: 140px
					--icon-height: 120px
					bottom: 11px
					right: 4px
				&--pressure
					--icon-width: 180px
					--icon-height: 160px
					bottom: 0
					right: 0
				&--linear
					--icon-width: 280px
					--icon-height: 140px
					right: 152px
				&--servo
					--icon-width: 67px
					--icon-height: 67px
					top: 15px
					right: 20px
.clients
	margin-bottom: 80px
	overflow-x: hidden
	+mq($xl)
		margin-bottom: 100px
	.marquee__item
		background-color: var(--clr-white)
.selection-form
	padding: 70px 0 80px
	background-color: var(--clr-blue)
	color: var(--clr-white-2)
	+mq($xl)
		padding: 90px 0 100px
	&__title
		font-family: var(--ff-ex)
		+fz(26)
		font-weight: 700
		line-height: 100%
		margin-bottom: 10px
		max-width: 260px
		+mq($md)
			+fz(30)
			max-width: 405px
			margin-bottom: 15px
		+mq($xl)
			+fz(52)
			max-width: unset
	&__subtitle
		+fz(22)
		font-weight: 300
		line-height: 120%
		color: var(--clr-grey-05)
		margin-bottom: 10px
		+mq($md)
			+fz(30)
			max-width: calc(100% / 4 * 3)
		+mq($xl)
			+fz(36)
			max-width: unset
	&__text
		+fz(16)
		font-weight: 300
		line-height: 130%
		margin-bottom: 30px
		+mq($md)
			max-width: calc(100% / 4 * 3)