.knowledge-item
	p, ul
		margin-bottom: 16px
	&__inner
		+mq($md)
			+flex
			align-items: flex-start
	&__content
		margin-bottom: 40px
		a
			color: var(--accent-aquamarine-color)
		+mq($md)
			margin-top: 20px
			margin-bottom: 0
			flex: 0 0 70%
	&__image
		text-align: center
		img
			max-width: 250px
		+mq($md)
			flex: 0 0 30%