.block-with-line
	&::after
		content: ''
		display: block
		height: 1px
		width: 100%
		max-width: 200px
		background-color: #EAD6D6
		margin-left: 50%
		transform: translateX(-50%)
		+mq($xs)
			max-width: 336px
		+mq($md)
			max-width: 480px
		+mq($xl)
			max-width: 100%
	&-mobile
		position: relative
		&::after
			content: ''
			display: block
			height: 1px
			width: 100%
			max-width: 200px
			background-color: #EAD6D6
			position: absolute
			top: 100%
			margin-left: 50%
			transform: translateX(-50%)
		+mq($xs)
			&::after
				max-width: 336px
		+mq($md)
			&::after
				max-width: 480px
		+mq($xl)
			&::after
				display: none
.rooms
	// overflow-x: hidden
	padding-top: 60px
	+mq($xl)
		padding-top: 149px
		+bg('../images/bg_shape.png', top 18px right, 485px 420px)
		// overflow-y: hidden
	&__title
		font-family: 'Playfair Display'
		+fz(20)
		line-height: 27px
		font-weight: 500
		color: var(--dark-color)
		text-align: center
		padding-bottom: 60px
		margin-bottom: 60px
		+mq($xs)
			+fz(24)
			line-height: 32px
		+mq($md)
			line-height: 148%
		+mq($xl)
			+fz(32)
			line-height: 43px
			padding-bottom: 0
			margin-bottom: 215px
	&__item
		// width: 100vw
		// width: 100%
		+mq($xl)
			+flex
			// justify-content: unset
			justify-content: flex-end
			gap: 100px
			// width: 100vw
	&__left
		+mq($xl)
			align-self: start
			flex: 0 0 470px
			margin-top: 56px
	&__right
		+mq($xl)
			// flex: 0 0 calc(50vw + 12px)
			flex: 0 0 50%
			justify-self: flex-end
	&__name
		font-family: 'Playfair Display'
		+fz(28)
		line-height: 37px
		font-weight: 500
		color: var(--dark-color)
		text-align: center
		margin-bottom: 95px
		+mq($xs)
			+fz(32)
			line-height: 43px
			margin-bottom: 112px
		+mq($md)
			+fz(36)
			line-height: 48px
			margin-bottom: 105px
		+mq($xl)
			text-align: left
			margin-bottom: 24px
	&__desc
		+fz(14)
		line-height: 172.9%
		margin-bottom: 24px
		color: var(--dark-color)
		// padding-right: $gutter
		padding: 0 var(--gutter)
		+mq($md)
			+fz(16)
			margin-bottom: 28px
		+mq($xl)
			padding: 0
			margin-bottom: 32px
			// padding-right: 0
	&__image
		// width: calc(100vw - $gutter)
		width: calc(100% - $gutter)
		border-radius: 40px 0px 0px 0px
		// overflow: hidden
		background-repeat: no-repeat
		background-position: left center
		background-size: cover
		min-height: 240px
		margin-left: auto
		// margin: 0 auto
		+mq($xs)
			min-height: 300px
		+mq($md)
			min-height: 400px
		+mq($xl)
			width: auto
			border-radius: 100px 0px 0px 0px
			min-height: 540px
			// background-position: center
		&--left
			margin-bottom: 16px
			+mq($xl)
				display: none
		&--right
			display: none
			+mq($xl)
				display: block
	&__btns
		gap: 12px
		// padding-right: $gutter
		padding: 0 var(--gutter)
		+mq($xs)
			+flex
			justify-content: space-between
		+mq($xl)
			gap: 24px
			padding: 0
			// padding-right: 0
	&__btn
		line-height: 172.9%
		padding: 12px 50px
		width: 100%
		+mq($xs)
			margin-left: 0
			transform: unset
			max-width: 100%
		& + &
			// margin-top: 20px
			margin-top: 12px
		+mq($xs)
			flex: 0 0 calc(50% - 6px)
			& + &
				margin-top: 0
		+mq($xl)
			flex: 0 0 calc(50% - 12px)
	&__slider
		position: relative
	&__pagination
		position: absolute
		top: 60px

		// position: relative
		// top: -610px

		z-index: 80
		width: 100%
		+mq($xs)
			top: 70px
		+mq($xl)
			position: relative
			top: -60px
			margin-bottom: -60px
		&-wrapper
			width: 100%
			margin: 0 auto
			// max-width: 170px
			max-width: 200px
			+flex
			justify-content: space-between
			// margin-left: calc($gutter / 2 * -1)
			+mq($xs)
				max-width: 220px
			+mq($md)
				max-width: 295px
			+mq($xl)
				max-width: 470px
				gap: 136px
				margin: 0
.likes
	padding-top: 56px
	+mq($xs)
		padding-top: 64px
	+mq($md)
		padding-top: 80px
	+mq($xl)
		padding-top: 140px
	&__title
		font-family: 'Playfair Display'
		+fz(28)
		line-height: 37px
		font-weight: 500
		color: var(--dark-color)
		text-align: center
		margin-bottom: 28px
		+mq($xs)
			+fz(32)
			line-height: 43px
			margin-bottom: 32px
		+mq($md)
			margin-bottom: 40px
		+mq($xl)
			+fz(36)
			line-height: 48px
			margin-bottom: 80px
	&__list
		display: grid
		grid-template-columns: 1fr
		gap: 8px
		+mq($md)
			grid-template-columns: 1fr 1fr
			grid-template-rows: 1fr 1fr
			gap: 20px 12px
		+mq($xl)
			gap: 30px
	&__item
		overflow: hidden
		padding: 20px 45px 20px 40px
		background-repeat: no-repeat
		background-size: cover
		// background-size: 100%
		background-position: top center
		// transition: background 1s
		+mq($xs)
			padding: 18px 45px 18px 60px
		+mq($md)
			// padding: 40px 22px
			padding: 40px 10px
			text-align: center
			transition: all .6s
		+mq($xl)
			// padding: 55px 100px 55px 48px
			padding: 0 100px 0 48px
			min-height: 268px
			+flex-column
			justify-content: center
			text-align: left
			&:hover,&:focus
				// padding: 28px 100px 28px 48px
				// background-size: 105%
				.likes__btn
					transform: translateY(0px)
					margin-top: 16px
				.likes__desc
					margin-bottom: 0
		&--active
			.likes__name
				justify-content: center
				text-align: center
				+fz(24)
			.likes__arrow-top
				// opacity: 0
				// visibility: hidden
				display: none
				width: 0
		&:first-child
			border-radius: 40px 0px 0px 0px
			+mq($xs)
				border-radius: 60px 0px 0px 0px
			+mq($md)
				border-radius: 80px 0px 0px 0px
			+mq($xl)
				border-radius: 60px 0px 0px 0px
		&:last-child
			border-radius: 0px 0px 40px 0px
			+mq($xs)
				border-radius: 0px 0px 60px 0px
			+mq($md)
				border-radius: 0px 0px 80px 0px
			+mq($xl)
				border-radius: 0px 0px 60px 0px
	&__name
		+fz(16)
		line-height: 172.9%
		font-weight: 500
		color: var(--white-color)
		transition: font-size .3s
		+mqMax($md)
			+flex
			// justify-content: space-between
		+mq($xs)
			+fz(20)
		+mq($md)
			+fz(24)
			margin-bottom: 12px
		+mq($lg)
			+fz(22)
			margin-bottom: 8px
	&__arrow
		+flex
		transition: all .6s
		margin-left: auto
		&-bottom
			margin-top: 25px
			transform: rotate(180deg)
		svg
			fill: none
			width: 15px
			height: 7px
		+mq($md)
			display: none
	&__bottom
		display: none
		text-align: center
		+mq($md)
			display: block
		+mq($xl)
			text-align: left
	&__desc
		// +fz(16)
		+fz(14)
		line-height: 28px
		color: var(--white-color)
		line-height: 172.9%
		margin-bottom: 28px
		margin-top: 4px
		+mq($md)
			// margin-bottom: 44px
			margin-bottom: 24px
		+mq($xl)
			// margin-bottom: 0
			margin-top: 0
			transition: all .6s
			margin-bottom: -40px
	&__btn
		width: 100%
		max-width: 252px
		+fz(14)
		transition: all .6s
		cursor: pointer
		// +mq($xs)
		//     max-width: 300px
		+mq($xl)
			margin-left: 0
			transform: translateY(max(15vh, 150px))
.restaurant
	padding-top: 56px
	padding-bottom: 28px
	+mq($xs)
		padding-top: 64px
		padding-bottom: 32px
	+mq($md)
		padding-top: 80px
		padding-bottom: 40px
	+mq($xl)
		padding-top: 180px
		padding-bottom: 0
.conference
	// padding-top: 28px
	padding-top: 28px
	+mq($xs)
		// padding-top: 32px
		padding-top: 64px
	+mq($md)
		padding-top: 40px
		// padding-top: 80px
	+mq($xl)
		padding-top: 100px
.banquet
	// padding-top: 28px
	padding-top: 54px
	+mq($xs)
		// padding-top: 32px
		padding-top: 64px
	+mq($md)
		// padding-top: 40px
		padding-top: 80px
	+mq($xl)
		padding-top: 100px
.banquet
	padding-bottom: 28px
	+mq($xs)
		padding-bottom: 32px
	+mq($md)
		padding-bottom: 40px
	+mq($xl)
		padding-bottom: 100px
.spa
	padding-top: 28px
	+mq($xs)
		padding-top: 32px
	+mq($md)
		padding-top: 40px
	+mq($xl)
		padding-top: 0
.conference,
.banquet,
.info
	&__inner
		+mq($xl)
			+flex
			justify-content: space-between
			// gap: 100px
			// gap: 12px
			gap: 30px
	&__left
		+mq($xl)
			// flex: 0 0 calc(50% - 15px)
			flex: 0 0 calc(50% - 15px)
			margin-top: var(--margin-top, 40px)
			align-self: flex-start
			padding-right: 60px
	&__right
		display: none
		+mq($xl)
			display: block
			// flex: 0 0 calc(50vw - 15px)
			flex: 0 0 50vw
			justify-self: flex-end
	&__title
		font-family: 'Playfair Display'
		+fz(28)
		line-height: 37px
		font-weight: 500
		color: var(--dark-color)
		margin-bottom: 24px
		text-align: center
		+mq($xs)
			+fz(32)
			line-height: 42px
			margin-bottom: 32px
		+mq($md)
			margin-bottom: 28px
		+mq($xl)
			+fz(36)
			line-height: 48px
			margin-bottom: 24px
			text-align: left
	&__desc
		+fz(14)
		line-height: 172.9%
		font-weight: 400
		color: var(--dark-color)
		margin-bottom: 24px
		p + p
			margin-top: 28px
			+mq($md)
				margin-top: 32px
		+mq($md)
			+fz(16)
			margin-bottom: 28px
		+mq($xl)
			margin-bottom: 32px
	&__image
		border-radius: 40px 0px 0px 0px
		overflow: hidden
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		width: calc(100vw - $gutter / 2)
		min-height: 240px
		margin-bottom: 26px   
		+mq($xs)
			border-radius: 60px 0px 0px 0px
			min-height: 300px
		+mq($md)
			border-radius: 80px 0px 0px 0px
			min-height: 400px
		+mq($xl)
			border-radius: 100px 0px 0px 0px
			width: auto
			height: 580px
			margin-bottom: 0
			&--bottom-angle
				border-radius: 0px 0px 0px 100px
		&--left
			display: block
			+mq($xl)
				display: none
		&--right
			display: none
			+mq($xl)
				display: block
	&__btn
		width: 100%
		// max-width: 300px
		min-height: 52px
		margin-left: 50%
		transform: translateX(-50%)
		+mq($xs)
			max-width: 222px
		+mq($md)
			max-width: 358px
		+mq($xl)
			margin-left: 0
			transform: unset
			max-width: 212px
	&--left
		.info__inner
			flex-direction: row-reverse
		.info__left
			+mq($xl)
				padding-right: 0
				padding-left: 70px
		.info__image
			border-radius: 0px 40px 0px 0px
			// width: calc(100vw - $gutter)
			width: 100vw
			
			position: relative
			left: calc($gutter * -1)
			+mq($xs)
				border-radius: 0px 60px 0px 0px
			+mq($md)
				border-radius: 0px 80px 0px 0px
			+mq($xl)
				width: 50vw
				border-radius: 0px 100px 0px 0px
				&--bottom-angle
					border-radius: 0px 0px 100px 0px 
.concierge
	// padding-top: 28px
	padding-top: 54px
	padding-bottom: 28px
	+mq($xs)
		// padding-top: 32px
		padding-top: 64px
		padding-bottom: 32px
	+mq($md)
		// padding-top: 40px
		padding-top: 80px
		padding-bottom: 40px
	+mq($xl)
		text-align: center
		padding-top: 180px
		padding-bottom: 100px
		+bg('../images/bg_shape.png', top 118px left -200px, 485px 420px)
		.info__title
			text-align: center
		.info__desc
			+mq($xl)
				margin-inline: auto
				width: calc(100% / 12 * 8)     