.news
	&__tabs
		display: grid
		grid-template-columns: 1fr
		+mq($xs)
			grid-template-columns: 1fr 1fr
		+mq($md)
			grid-template-columns: 1fr 1fr 1fr
		+mq($xl)
			grid-template-columns: 1fr 1fr 1fr 1fr	
		gap: 40px