.policy
	&__text
		h3
			+fz(20)
			margin: 32px 0
		p
			margin: 10px 0
			line-height: 24px
		ul
			padding-left: 40px
		ul, li
			list-style-type: disc
		li + li
			margin-top: 15px
		::marker
			color: var(--accent-aquamarine-color)