.portfolio
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	&__desc
		margin-bottom: 20px
	&__grid
		display: grid
		grid-template-columns: 1fr
		gap: 2rem
		margin-bottom: 20px
		+mq($md)
			grid-template-columns: repeat(2, 1fr)
	&__item
		border: 3px solid var(--aquamarine-color)
		border-radius: 5px
		box-shadow: 0px 1px 5px #1C2059
		transition: .3s border
		position: relative
		overflow: hidden
		&-top
			background-size: cover
			background-repeat: no-repeat
			background-position: top center

			//padding-bottom: 41.64%
			padding-bottom: calc(41.64% + 100px)
			height: 0
			width: 100%
			+mqMax($xl)
				@supports not (&:hover)
					transition: .3s
		&-bottom
			+flex
			justify-content: space-between
			gap: 10px
			//padding: 10px 30px 10px 5px
			padding: 10px
			//background: linear-gradient(89.84deg, rgba(26, 35, 72, 0) 4.78%, #1A2348 75.23%)
			background: var(--black-color)
			position: absolute
			bottom: -100%
			width: 100%
			transition: .6s
			+mq($xs)
				padding: 20px
		&:hover
			border: 3px solid var(--accent-aquamarine-color)
			.portfolio__item-bottom
				bottom: 0
		&-name
			+fz(16)
			font-weight: 700
			line-height: 150%
			color: rgba(72, 76, 237, 1)
			margin-bottom: 5px
			+mq($xs)
				+fz(18)
			+mq($md)
				+fz(20)
		&-cms
			+fz(14)
			line-height: 150%
			color: var(--white-color)
			+mq($xs)
				+fz(16)
		&-btn
			+fz(0)
			line-height: 150%
			color: var(--grey-color)
			display: inline-flex
			transition: .3s
			&:hover
				color: var(--accent-aquamarine-color)
			+mq($md)
				+fz(18)
		&-icon
			width: 25px
			height: 16px
			+mq($md)
				display: none
			svg
				fill: var(--grey-color)
	&__btn
		text-align: center