.product
    padding: 2px 0 60px
    +mq($xl)
        padding: 20px 0 80px
    &__inner
        +mq($xl)
            display: flex
            gap: 56px
    &__aside
        display: none
        +mq($xl)
            display: block
            flex: 0 0 calc((100% / 12 * 3) - 56px / 2)
    &__top
        background-color: var(--white-color)
        border-radius: 8px
        margin-bottom: 40px
        padding: 20px 16px
        //overflow: hidden
        display: grid
        grid-template-areas: 'head' 'slider' 'info' 'delivery'
        +mq($md)
            padding: 32px
            grid-template-areas: 'slider head' 'slider info' 'delivery delivery'
            column-gap: 24px
        +mq($xl)
            padding: 40px
            grid-template-columns: 1fr 1fr
            column-gap: 48px
    &__slider
        grid-area: slider
        width: 100%
        overflow: hidden
        margin-bottom: 24px
        +mq($xl)
            margin-bottom: 0
        &-main
            margin-bottom: 20px
            +mq($xl)
                margin-bottom: 16px
        &-item
            text-align: center
            height: 190px
            +mq($xl)
                height: 272px
        &-pagination
            padding: 0 28px
            position: relative
            .swiper-button-prev,
            .swiper-button-next
                top: calc(50% - 10px)
            .swiper-button-prev
                left: -16px
            .swiper-button-next
                right: -16px
            .swiper-slide
                border: 1px solid transparent
                border-radius: 4px
                overflow: hidden
                cursor: pointer
                transition: border .3s
            .swiper-slide--active
                border: 1px solid var(--stroke-color)
            .swiper-arrows
                display: block
    &__head
        grid-area: head
        display: flex
        align-items: flex-start
        gap: 20px
    &__stock
        +fz(11)
        line-height: 130%
        font-weight: 500
        letter-spacing: 0.01em
        text-transform: uppercase
        margin-bottom: 4px
        color: var(--light-blue-color)
        +mq($xl)
            +fz(12)
    &__title
        font-family: 'Roboto Condensed', sans-serif
        +fz(20)
        line-height: 120%
        font-weight: 700
        margin-bottom: 20px
        +mq($xl)
            +fz(24)
            line-height: 115%
            margin-bottom: 8px
    &__wishlist
        width: 40px
        height: 40px
        border: 1px solid var(--stroke-color)
        border-radius: 4px
        +flex
        flex: 0 0 40px
        +mq($xl)
            width: 48px
            height: 48px
            flex: 0 0 48px
        svg
            path
                transition: .3s
        &:hover
            svg
                path
                    fill: var(--blue-color)
    &__info
        grid-area: info
    &__desc
        +fz(13)
        line-height: 135%
        color: var(--dark-grey-color)
        margin-bottom: 16px
        +mq($md)
            margin-bottom: 20px
        +mq($xl)
            +fz(14)
            line-height: 140%
            margin-bottom: 24px
        a
            display: block
            color: var(--light-blue-color)
    &__price
        +fz(18)
        line-height: 135%
        font-weight: 700
        margin-bottom: 16px
        +mq($xl)
            +fz(22)
            line-height: 120%
    &__btns
        border-bottom: 1px dashed var(--stroke-color)
        padding-bottom: 16px
        margin-bottom: 16px
        display: flex
        align-items: center
        gap: 8px
        +mq($xl)
            padding-bottom: 20px
            margin-bottom: 20px
        &-item
            flex: 0 0 calc(50% - 4px)
        .btn
            +mq($xl)
                height: 48px
    &__basket
        &-quantity
            display: flex
            align-items: center
            border: 1px solid var(--stroke-color)
            border-radius: 4px
            height: 40px
            +mq($xl)
                height: 48px
            .product-item-amount-field-btn-minus,
            .product-item-amount-field-btn-plus
                border: unset
                background: unset
                padding: 15px 0px
                flex: 0 0 42px
                cursor: pointer
                +mq($xl)
                    padding: 15px 0px
                    +fz(20)
            input
                border: unset
                flex: 1 0 44px
                width: 44px
                text-align: center
                +mq($xl)
                    flex: 1 0 90px
                    width: 90px
    &__actions
        display: flex
        align-items: center
        gap: 8px
        &-item
            flex: 0 0 calc(50% - 4px)
        .btn
            color: var(--light-blue-color)
            padding: 12px 13px
            svg
                display: none
            +mq($xl)
                +fz(14)
                height: 48px
                svg
                    margin-right: 8px
    &__delivery
        grid-area: delivery
        margin-top: 40px
        +mq($xl)
            margin-top: 60px
        &-title
            font-family: 'Roboto Condensed', sans-serif
            +fz(18)
            line-height: 120%
            font-weight: 700
            margin-bottom: 12px
            +mq($xl)
                +fz(20)
        &-list
            display: grid
            grid-template-columns: 1fr
            border: 1px solid var(--stroke-color)
            border-radius: 6px
            margin-bottom: 12px
            +mq($md)
                grid-template-columns: repeat(3, 1fr)
        &-item
            padding: 20px 16px
            +mq($md)
                padding: 20px 12px
            +mq($xl)
                padding: 20px
            & + &
                border-top: 1px solid var(--stroke-color)
                +mq($md)
                    border-top: unset
                    border-left: 1px solid var(--stroke-color)
        &-name
            +fz(13)
            line-height: 125%
            font-weight: 500
            margin-bottom: 6px
            +mq($xl)
                +fz(14)
                line-height: 115%
        &-desc
            +fz(12)
            line-height: 120%
            font-weight: 500
            color: var(--dark-grey-color)
            +mq($xl)
                +fz(13)
        &-more
            +fz(13)
            font-weight: 500
            line-height: 125%
            color: var(--light-blue-color)
            +mq($xl)
                +fz(14)
                line-height: 115%
    &__content
        background-color: var(--white-color)
        border-radius: 8px
        padding: 32px 16px
        +mq($md)
            padding: 32px
        +mq($xl)
            padding: 40px
        h4
            +fz(20)
            line-height: 120%
            margin-bottom: 10px
            +mq($xl)
                +fz(24)
                line-height: 125%
                margin-bottom: 12px
        h5
            font-family: 'Roboto Condensed', sans-serif
            +fz(18)
            line-height: 120%
            font-weight: 700
            letter-spacing: 0.01em
            text-transform: uppercase
            margin-bottom: 10px
            +mq($xl)
                +fz(20)
                margin-bottom: 12px
        ul
            margin-bottom: 28px
            +mq($xl)
                margin-bottom: 32px
        iframe
            margin-bottom: 12px
        table
            border: unset
            border-spacing: 0
            margin-bottom: 50px
            +mq($xl)
                margin-bottom: 58px
            tr
                border-radius: 2px
                overflow: hidden
                td
                    border: unset
                    +fz(13)
                    line-height: 120%
                    font-weight: 500
                    color: var(--dark-grey-color)
                    &:first-child
                        color: var(--black-color)
                        font-weight: normal
                    +mq($xl)
                        +fz(15)
                        line-height: 145%
                &:nth-child(odd)
                    background-color: #F7F7F7
                + tr
                    td
                        border-top: unset
    &__tabs
        .tabs__content-item
            display: block
        .tabs__content-item + .tabs__content-item
            margin-top: 24px
            +mq($xl)
                margin-top: 28px
    &__files
        border: 1px solid var(--stroke-color)
        &-item
            display: flex
            align-items: center
            gap: 10px
            padding: 8px 12px
            +mq($md)
                padding: 16px
            +mq($xl)
                padding: 16px 40px 16px 20px
            & + &
                border-top: 1px solid var(--stroke-color)
        &-name
            +fz(13)
            line-height: 120%
            font-weight: 500
            +mq($xl)
                +fz(15)
                line-height: 145%
        &-type
            display: none
            +mq($md)
                display: block
                flex: 0 0 40px
                margin-left: auto
            +mq($xl)
                flex: 0 0 60px
        &-size
            display: none
            +mq($md)
                display: block
                flex: 0 0 80px
            +mq($xl)
                flex: 0 0 120px
        &-download
            --box-size: 32px
            width: var(--box-size)
            height: var(--box-size)
            border-radius: 4px
            background-color: var(--background-color)
            border: 1px solid var(--stroke-color)
            +bg('../images/icon_download.svg', center, auto)
            flex: 0 0 var(--box-size)
            margin-left: auto
            cursor: pointer
            +mq($xl)
                --box-size: 36px
                margin-left: unset

.related-products
    background-color: var(--white-color)
    padding: 60px 0
    overflow: hidden
    +mq($xl)
        padding: 80px 0
    &__title
        font-family: "Roboto Condensed", sans-serif
        +fz(26)
        line-height: 122%
        font-weight: 700
        letter-spacing: 0.01em
        text-transform: uppercase
        margin-bottom: 24px
        +mq($md)
            margin-bottom: 28px
        +mq($xl)
            +fz(32)
            line-height: 125%
            margin-bottom: 40px
    &__slider
        position: relative
        .swiper-slide
            opacity: 0
            transition: .3s
        .swiper-slide-visible
            opacity: 1
        .swiper-pagination-bullets
            +mqMax($md)
                bottom: -24px
        & + &
            margin-top: 60px
            +mq($xl)
                margin-top: 80px
        .catalog-item__desc
            +mqMax($xl)
                display: none
.product_page .related-articles
    background-color: var(--background-color)