.public-offer
    margin-top: -4px
    padding-bottom: 60px
    +mq($md)
        margin-top: -16px
        padding-bottom: 80px
    &__content
        ul,ol
            li
                +fz(14)
                line-height: 145%
                list-style: none
                +mq($xl)
                    +fz(15)
        ol
            li
                &:not(:has(:is(p, h2, h3, h4)))
                    margin-left: 0