@import '../base/variables'
@import '../base/mixins'

.reviews
    font-family: 'Montserrat', sans-serif
    margin-bottom: 20px
    +mq($xl)
        margin-bottom: 30px
    &__inner
        display: grid
        grid-template-columns: minmax(0, 1fr)
        gap: 30px
        +mq($xl)
            grid-template-columns: minmax(0, 8fr) minmax(0, 4fr)
            gap: 40px
    &__left
        order: 2
        +mq($xl)
            order: 1
    &__right
        order: 1
        +mq($xl)
            order: 2
    &__slider
        position: relative
        margin-bottom: 30px
        +mq($xl)
            margin-bottom: 60px
        &-wrapper
            overflow-x: hidden
        &-item
            border-radius: 6px
            overflow: hidden
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            &--video
                position: relative
                &::after
                    --size: 55px
                    content: ''
                    display: block
                    position: absolute
                    top: calc(50% - var(--size) / 2)
                    left: calc(50% - var(--size) / 2)
                    width: 55px
                    height: 55px
                    +bg('../images/icon-youtube.svg', center, auto)
            img
                max-height: 140px
                height: 100%
                width: 100%
                object-fit: cover
                +mq($sm)
                    max-height: 160px
                +mq($lg)
                    max-height: 140px
                +mq($md)
                    max-height: 105px
                +mq($xl)
                    max-width: unset
    &__btn
        width: 100%
    &__sorting
        display: flex
        align-items: center
        gap: 20px
        border-bottom: 1px solid var(--border-grey-color)
        padding-bottom: 12px
        +fz(14)
        font-weight: 600
        line-height: 20px
        margin-bottom: 40px
        +mq($xl)
            margin-bottom: 30px
        +mqMax($xl)
            flex-wrap: wrap
        &-title
            margin-right: 40px
            +mqMax($xl)
                flex: 0 0 100%
        &-item
            padding-right: 18px
            &--active
                color: var(--accent-purple-color)
                display: flex
                align-items: center
                padding-right: 0
                &::after
                    content: ''
                    display: block
                    flex: 0 0 18px
                    width: 18px
                    height: 15px
                    +bg('../images/arrow-left.svg')
            &--desc
                &::after
                    transform: rotate(-90deg)
            &--asc
                &::after
                    transform: rotate(90deg)
    &__item
        border: 1px solid var(--border-grey-color)
        border-radius: 5px
        padding: 20px
        +mq($xl)
            padding: 30px
        & + &
            margin-top: 20px
        &-top
            margin-bottom: 20px
            +mq($xl)
                display: flex
                align-items: center
                justify-content: space-between
            +mqMax($xl)
                .rating__stars
                    padding-left: calc(50px + 16px)
        &-left
            display: grid
            gap: 0 16px
            grid-template-columns: 50px 1fr
            grid-template-rows: 1fr 1fr
            +mqMax($xl)
                margin-bottom: 8px
        &-image
            grid-row: 2 span
            width: 50px
            height: 50px
            border-radius: 50%
            overflow: hidden
            img
                //width: 100%
                //height: 100%
                object-fit: cover
        &-name
            +fz(18)
            font-weight: 500
            line-height: 24px
            color: #333333
        &-date
            +fz(14)
            font-weight: 400
            line-height: 20px
            color: #BDBDBD
        &-text
            +fz(16)
            font-weight: 400
            line-height: 22px
            color: #5D5D5D
    &__popup
        background-color: #F2F2F2
        border-radius: 6px
        //padding: 96px 12px
        padding: 30px 12px
        max-width: 360px
        +mq($xl)
            padding: 30px
        &-title
            +fz(18)
            font-weight: 500
            line-height: 20px
            margin-bottom: 20px
            color: #333333
        &-product
            display: flex
            align-items: center
            gap: 12px
            padding-bottom: 15px
            margin-bottom: 15px
            border-bottom: 1px solid var(--border-grey-color)
            &-image
                width: 60px
                height: 60px
                flex: 0 0 60px
                border-radius: 6px
                overflow: hidden
            &-name
                +fz(16)
                line-height: 22px
                color: var(--accent-purple-color)
        &-vote
            display: flex
            align-items: center
            gap: 12px
            margin-bottom: 12px
            .rating__star
                cursor: pointer
            &-title
                +fz(14)
                line-height: 18px
                color: #828282
        &-comment
            margin-bottom: 20px
            textarea
                border: 1px solid #F2F2F2
                border-radius: 4px
                padding: 11px 16px
                width: 100%
        &-btn
            width: 100%
            margin-bottom: 10px
            border: unset
            box-shadow: unset
            cursor: pointer
        &-policy
            +fz(14)
            line-height: 20px
            color: #828282
            text-align: justify
            a
                color: var(--accent-purple-color)
.rating
    &__total
        display: flex
        align-items: flex-end
        gap: 12px
        margin-bottom: 12px
        max-width: calc(100% / 4 * 3)
        +mq($xl)
            gap: 20px
            margin-bottom: 16px
        &-number
            +fz(25)
            font-weight: 700
            line-height: 25px
            color: var(--accent-purple-color)
            +mq($xl)
                +fz(36)
    &__stars
        display: flex
        align-items: center
    &__star
        --star-size: 20px
        width: var(--star-size)
        height: var(--star-size)
        +bg('../images/star-inactive.svg', center, contain)
        & + &
            margin-left: 8px
        +mq($xl)
            --star-size: 25px
            width: var(--star-size)
            height: var(--star-size)
        &--active
            +bg('../images/star-active.svg', center, contain)
        &--small
            --star-size: 15px
            & + &
                margin-left: 5px
    &__main
        margin-bottom: 25px
        +mq($xl)
            margin-bottom: 40px
    &__row
        display: flex
        justify-content: space-between
        align-items: center
        gap: 16px
        & + &
            margin-top: 10px
    &__progressbar
        flex: 1 1 auto
        height: 15px
        background-color: #CCCCCC
        border-radius: 7px
        &-thumb
            height: 15px
            background-color: #FFC354
            border-radius: 7px
            min-width: 15px
            &--zero
                min-width: unset
    &__count
        +fz(16)
        font-weight: 500
        line-height: 20px
        color: var(--accent-purple-color)
        flex: 0 0 35px