.search-section
    padding: 24px 0 60px
    +mq($xl)
        padding: 40px 0 100px
    .page-title
        margin-bottom: 6px
    &__subtitle
        +fz(13)
        line-height: 120%
        font-weight: 500
        color: var(--grey-color)
        margin-bottom: 32px
        +mq($xl)
            +fz(14)
            line-height: 130%
            margin-bottom: 48px
    &__list
        +mq($xl)
            grid-template-columns: repeat(4, 1fr)
    .catalog-item + .catalog-item
        margin-top: unset
    &__text
        +fz(14)
        line-height: 145%
        +mq($xl)
            +fz(15)
        a
            color: var(--light-blue-color)
    .search
        padding: 24px 0 40px
        +mq($xl)
            padding: 28px 0 48px
        form
            display: flex
            align-items: center
            gap: 8px
            +mq($md)
                gap: 12px
            +mq($xl)
                gap: 16px
    .search__input
        max-width: unset
        +mq($xl)
            min-width: 816px
    .btn
        width: 80px
        min-height: 40px
        +mq($md)
            width: 160px
        +mq($xl)
            width: 200px
            min-height: 48px
    h3
        font-family: 'Roboto Condensed', sans-serif
        +fz(22)
        line-height: 120%
        font-weight: 700
        letter-spacing: 0.01em
        text-transform: uppercase
        margin-bottom: 8px
        +mq($xl)
            +fz(28)
            line-height: 120%
    ul:not([class])
        padding: 16px 0
        +mq($xl)
            padding: 20px 0
        li + li
            margin-top: 12px
        li
            +fz(14)
            font-weight: 500
            line-height: 130%
            +mq($xl)
                +fz(15)
                line-height: 135%
            a
                color: var(--light-blue-color)