@use '../base/mixins' as *
@use '../base/breakpoints' as *
    
.standart_page
    +mq($xl)
        display: grid
        grid-template-columns: 6fr 6fr
        gap: 20px
    +mq($hd)
        gap: 40px
    &__left

    &__right
