@use 'base/colors'
@use 'base/mixins' as *
@use 'base/breakpoints' as *

\:root
	--border-radius: 15px
	--max-width: #{$max_width}
	--transition: .3s
	--transition-slow: .6s
	--ff-main: 'Inter', sans-serif
	--ff-ex: 'RoadRadio', sans-serif
	--safari-100-vh: 100%
	@each $name, $value in colors.$colors
		--clr-#{$name}: #{$value}

+font('RoadRadio', 'RoadRadio-Bold')
	
body
	font-family: var(--ff-main)
	font-weight: 400
	line-height: 1.35
	min-height: 100vh
	display: flex
	flex-direction: column
	color: var(--clr-text)
	background-color: var(--clr-white)

main 
	flex: 1

.visually-hidden:not(:focus):not(:active)
	clip: rect(0 0 0 0)
	clip-path: inset(50%)
	height: 1px
	overflow: hidden
	position: absolute
	white-space: nowrap
	width: 1px
	
.noscroll
	overflow: hidden
	position: fixed
	top: 0
	left: 0
	right: 0

.backdrop
	position: fixed
	inset: 0
	z-index: 99
	background-color: var(--clr-grey-06)
	opacity: 0
	visibility: hidden
	transition: var(--transition)
	&.active
		opacity: 1
		visibility: visible

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration 
	display: none
	
// ::-webkit-scrollbar,
// ::-webkit-scrollbar-button,
// ::-webkit-scrollbar-thumb,
// ::-webkit-scrollbar-track

::-webkit-scrollbar 
	width: 0
+mq($xl)
	::-webkit-scrollbar
		background-color: var(--clr-bg-scrollbar)
		width: 8px
		
	::-webkit-scrollbar-thumb
		border-radius: 5px
		background-color: var(--clr-line-grey)
	
.noselect
	-webkit-touch-callout: none /* iOS Safari */
	-webkit-user-select: none /* Safari */
	-khtml-user-select: none /* Konqueror HTML */
	-moz-user-select: none /* Old versions of Firefox */
	-ms-user-select: none /* Internet Explorer/Edge */
	user-select: none /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

.page-title h1
	font-family: var(--ff-ex)
	+fz(32)
	font-weight: 400
	line-height: 100%
	text-transform: uppercase
	text-wrap: balance
	+mq($md)
		+fz(50)
	+mq($xl)
		+fz(64)
		max-width: calc(100% / 12 * 10)

.page-subtitle
	font-family: var(--ff-ex)
	+fz(26)
	font-weight: 700
	line-height: 100%
	margin-bottom: 30px
	+mq($md)
		+fz(40)
	+mq($xl)
		+fz(52)
		margin-bottom: 40px

.margin-left
	+mq($xl)
		margin-left: calc(100% / 12 * 2)
		
.custom-checkbox
	--size: 16px
	width: var(--size)
	height: var(--size)
	flex: 0 0 var(--size)
	border: 1px solid var(--clr-white-05)
	margin-top: 3px
	input:checked + &
		+bg('Images/icon_tick.svg', center, 16px)

input[name="custom-checkbox"]
	display: none

.svg-icons
	display: none