@use '../base/breakpoints' as *
	
// Use in unify-parent mixin
@use "sass:selector"

=mq($point)
	@if $point == xs
		@media (min-width: $xs)
			@content
	
	@else if $point == sm
		@media (min-width: $sm)
			@content
	
	@else if $point == md
		@media (min-width: $md)
			@content
	
	@else if $point == lg
		@media (min-width: $lg)
			@content
	
	@else if $point == xl
		@media (min-width: $xl)
			@content
	
	@else if $point == hd
		@media (min-width: $hd)
			@content
	
	@else
		@media (min-width: $point)
			@content

=mqMax($point)
	@if $point == xs
		@media (max-width: $xs - 1px)
			@content
	
	@else if $point == sm
		@media (max-width: $sm - 1px)
			@content
	
	@else if $point == md
		@media (max-width: $md - 1px)
			@content
	
	@else if $point == lg
		@media (max-width: $lg - 1px)
			@content
	
	@else if $point == xl
		@media (max-width: $xl - 1px)
			@content
	
	@else if $point == hd
		@media (max-width: $hd - 1px)
			@content
	@else
		@media (max-width: $point - 1px)
			@content

=flex()
	display: flex
	align-items: center
	
=flex-center()
	+flex
	justify-content: center
	
=inline-flex()
	display: inline-flex
	align-items: center
	justify-content: center

=flex-column()
	display: flex
	flex-direction: column

=flex-column-center()
	+flex-center
	flex-direction: column

=bg($image, $position: center, $size: cover)
	background-image: url($image)
	background-position: $position
	background-size: $size
	background-repeat: no-repeat

// Перевод px в rem
=fz($sizeValue: 16)
	font-size: $sizeValue + px
	font-size: calc($sizeValue / 16) + rem

// Font-family
=font($alias, $name, $weight: normal, $style: normal)
	@font-face
		font-family: $alias
		// src: local($alias), url("../fonts/" + $name + ".woff") format("woff")
		src: local($alias), url("Fonts/" + $name + ".woff") format("woff")
		font-weight: $weight
		font-style: $style
		font-display: swap
// to use:
//+font(black, cytiapro-black-webfont)

=textLimit($val)
	overflow: hidden
	text-overflow: ellipsis
	display: -webkit-box
	-webkit-line-clamp: $val
	line-clamp: $val
	-webkit-box-orient: vertical

// При изменении размера родительского блока, блок будет сохраняя свои пропорции
// Например, .block +ratio(16,9)
=ratio($x,$y, $pseudo: false)
	$padding: unquote(( $y / $x ) * 100 + '%')
	@if $pseudo
		&:before
			+pseudo($pos: relative)
			width: 100%
			padding-top: $padding
	@else
		padding-top: $padding

// Прозрачная стрелка
=arrow($size, $color, $rotate: 45deg)
	content: ''
	display: block
	width: $size
	height: $size
	border-bottom: 1px solid $color
	border-right: 1px solid $color
	transform: rotate($rotate)

// Triangle
=arr($width, $height, $bg, $direction)
	width: 0
	height: 0
	border-style: solid
	@if $direction == t
		border-width: 0 calc($width / 2) + px $height + px calc($width / 2) + px
		border-color: transparent transparent $bg transparent
	@if $direction == r
		border-width: calc($height / 2) + px 0 calc($height / 2) + px $width + px
		border-color: transparent transparent transparent $bg
	@if $direction == b
		border-width: $height + px calc($width / 2) + px 0 calc($width / 2) + px
		border-color: $bg transparent transparent transparent
	@if $direction == l
		border-width: calc($height / 2) + px $width + px calc($height / 2) + px 0
		border-color: transparent $bg transparent transparent
	@if $direction == tl
		border-width: $height + px $width + px 0 0
		border-color: $bg transparent transparent transparent
	@if $direction == tr
		border-width: 0 $width + px $height + px 0
		border-color: transparent $bg transparent transparent
	@if $direction == br
		border-width: 0 0 $height + px $width + px
		border-color: transparent transparent $bg transparent
	@if $direction == bl
		border-width: $width + px 0 0 $height + px
		border-color: transparent transparent transparent $bg
// example
// +arr(500,50, #000, l)
// +arr(500,50, #000, bl)

=unify-parent($child)
	@at-root #{selector.unify(&, $child)}
		@content

=box($width, $height: $width)
	width: $width
	height: $height
	
=cover()
	+box(100%)
	object-fit: cover

=contain()
	+box(100%)
	object-fit: contain

=hr($height: 1px, $bg-color: #000)
	margin-block-start: 0
	margin-block-end: 0
	border-width: 0
	height: $height
	background-color: $bg-color

=toggle($padding-top: 14px)
	display: grid
	grid-template-rows: 0fr
	overflow: hidden
	transition-property: grid-template-rows, padding
	transition-duration: .6s
	.active &
		grid-template-rows: 1fr
		padding-top: $padding-top
	> *
		min-height: 0

=icon-size($size)
	--icon-size: #{$size}
	width: var(--icon-size)
	height: var(--icon-size)
	flex: 0 0 var(--icon-size)

=icon-size-svg($size)
	--icon-size: #{$size}
	flex: 0 0 var(--icon-size)
	svg
		width: var(--icon-size)
		height: var(--icon-size)

=border-radius($border-radius)
	isolation: isolate
	border-radius: $border-radius
	overflow: hidden

// NEW MIXINS
=height100()
	display: flex
	align-items: center
	justify-content: center
	height: 100%

=sliding-underline($size: 1px, $speed: .5s)
	background-image: linear-gradient(90deg, currentColor, currentColor)
	background-size: 0% $size
	background-repeat: no-repeat
	background-position: 0 100%
	transition: background-size $speed, background-position 0s $speed
	&:hover
		background-position: 100% 100%
		background-size: 100% $size

=col($columns)
	max-width: calc(100% / 12 * $columns)